<form class="formNode" action="/admin/how-it-works/basement-tips/edit">

    <input class="hiddenField" type="hidden" name="tipID" value="{{{ page.tipID }}}">

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="pageTitle">Page title</label>
            <input class="textField" type="text" id="pageTitle" name="pageTitle" value="{{{ page.pageTitle }}}">
        </div>
        <div class="buttonWrapper">
            <button class="deleteButton" type="button" data-redirect="/admin/how-it-works/basement-tips/"
                    data-action="/admin/how-it-works/basement-tips/{{{ page.tipID }}}">
                Delete tip
            </button>
            <div class="buttonHiddenWrapper hiddenWrapper">
                <div class="wrapperTitle">Are you sure you want to remove this tip?</div>
                <div class="wrapperButtons">
                    <button class="cancelButton" type="button">CANCEL</button>
                    <button class="confirmButton" type="button">DELETE</button>
                </div>
            </div>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="pageDescription">Page description</label>
            <textarea class="textareaField" id="pageDescription" name="pageDescription">{{{ page.pageDescription }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="pageKeywords">Page keywords</label>
            <textarea class="textareaField" id="pageKeywords" name="pageKeywords">{{{ page.pageKeywords }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="tipLink">Tip link</label>
            <input class="textField" type="text" id="tipLink" name="tipLink" value="{{{ page.tipLink }}}">
        </div>
    </section>

    <section class="fileSection">
        <div class="fileWrapper" style="width: 330px; height: 173px;">
            <input type="file" class="fileField" id="tipImage" name="tipImage">
            <label class="fileLabel" for="tipImage">Tip cover</label>
            {{# if page.tipImage }}
                <img class="fieldPreview" src="{{{ page.tipImage }}}_330x173.jpg" alt="Tip image">
            {{/ if }}
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="tipTitle">Tip title</label>
            <input class="textField" type="text" id="tipTitle" name="tipTitle" value="{{{ page.tipTitle }}}">
        </div>
    </section>

    <section class="fieldSection">
        <div class="selectWrapper" data-id="categoryID" data-name="categoryName" style="margin: 0 5px 0 0;">
            <label class="fieldLabel">Category</label>
            <div class="currentSelect">{{{ page.categoryName }}}</div>
            <input class="hiddenField" type="hidden" name="categoryID" value="{{{ page.categoryID }}}">
            <div class="dropdownWrapper hiddenWrapper">
                {{# each categories }}
                    <div class="dropdownElement">
                        <div class="elementWrapper">
                            <span class="selectElement" data-request="{{{ categoryID }}}">{{{ categoryName }}}</span>
                            <button class="editButton" type="button" title="Edit category">Edit category</button>
                        </div>
                        <div class="editWrapper hiddenWrapper">
                            <input class="editField" type="text" value="{{{ categoryName }}}">
                            <button class="saveButton" data-api="/admin/how-it-works/basement-tips/categories/edit"
                                    type="button" title="Save category">Save category</button>
                        </div>
                    </div>
                {{/ each }}
                <div class="newElement">
                    <div class="createWrapper">+ Add new</div>
                    <div class="editWrapper hiddenWrapper">
                        <input class="editField" type="text">
                        <button class="saveButton" data-api="/admin/how-it-works/basement-tips/categories"
                                type="button" title="Save category">Save category</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="tipAnnounce">Tip announce</label>
            <textarea class="textareaField" id="tipAnnounce" name="tipAnnounce">{{{ page.tipAnnounce }}}</textarea>
        </div>
    </section>

    <section class="fieldSection fullWidth">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="tipText">Tip text</label>
            <input class="textField tinyField"
                   type="text" id="tipText" name="tipText" value="{{{ page.tipText }}}">
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="portfolioID">Portfolio ID</label>
            <input class="textField" type="text" id="portfolioID" name="portfolioID" value="{{{ page.portfolioID }}}">
        </div>
    </section>

    <div class="formButtons">
        {{> micro-blocks/upload-button/upload-button }}
        <button class="submitButton" type="button" title="Update"
                data-action="update" data-api="">Update</button>
    </div>

</form>

<template class="dropdownTemplate">
    <div class="dropdownElement">
        <div class="elementWrapper">
            <span class="selectElement" data-request=""></span>
            <button class="editButton" type="button" title="Edit category">Edit category</button>
        </div>
        <div class="editWrapper hiddenWrapper">
            <input class="editField" type="text" value="">
            <button class="saveButton" data-api="/admin/how-it-works/basement-tips/categories/edit"
                    type="button" title="Save category">Save category</button>
        </div>
    </div>
</template>


<script>

    const SAFE = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789$-_.';

    const titleField = document.querySelector(`#tipTitle`);
    const linkField = document.querySelector(`#tipLink`);
    const makeURL = () => {
        const value = titleField.value;
        let returnURL = ``;
        for (let index = 0; index < value.length; index++) {
            returnURL = returnURL + replaceIllegal(value.charAt(index));
        }
        if (returnURL.lastIndexOf(`.`) == returnURL.length - 1) {
            returnURL = returnURL.substring(0, returnURL.length-1);
        }
        linkField.value = returnURL.toLowerCase();
    };
    titleField.addEventListener(`change`, makeURL);

    function replaceIllegal(char) {
        if (SAFE.indexOf(char) >= 0) return char;
        const theChar = char.charCodeAt(0);
        switch(theChar) {
            case 32:return '-';
            case 185:return '1';
            case 186:return '0';
            case 192:return 'A';
            case 193:return 'A';
            case 194:return 'A';
            case 195:return 'A';
            case 196:return 'A';
            case 197:return 'A';
            case 198:return 'AE';
            case 199:return 'C';
            case 200:return 'E';
            case 201:return 'E';
            case 202:return 'E';
            case 203:return 'E';
            case 204:return 'I';
            case 205:return 'I';
            case 206:return 'I';
            case 207:return 'I';
            case 208:return 'D';
            case 209:return 'N';
            case 210:return 'O';
            case 211:return 'O';
            case 212:return 'O';
            case 213:return 'O';
            case 214:return 'O';
            case 215:return 'x';
            case 216:return 'O';
            case 217:return 'U';
            case 218:return 'U';
            case 219:return 'U';
            case 220:return 'U';
            case 201:return 'Y';
            case 223:return 'ss';
            case 224:return 'a';
            case 225:return 'a';
            case 226:return 'a';
            case 227:return 'a';
            case 228:return 'a';
            case 229:return 'a';
            case 230:return 'ae';
            case 231:return 'c';
            case 232:return 'e';
            case 233:return 'e';
            case 234:return 'e';
            case 235:return 'e';
            case 236:return 'i';
            case 237:return 'i';
            case 238:return 'i';
            case 239:return 'i';
            case 241:return 'n';
            case 242:return 'o';
            case 243:return 'o';
            case 244:return 'o';
            case 245:return 'o';
            case 246:return 'o';
            case 247:return '-';
            case 248:return 'o';
            case 249:return 'u';
            case 250:return 'u';
            case 251:return 'u';
            case 252:return 'u';
            case 253:return 'y';
            case 255:return 'y';
        }
        return '';
    }

</script>