<section class="pageHeader">
    <div class="wrapper headerWrapper">
        <div class="contentWrapper">
            <h1 class="pageTitle">{{{ page.pageTitle }}}</h1>
            <nav class="breadcrumbs">
                <ul class="breadcrumbList">
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/">BasementRemodeling.com</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/instant-quote/">Get an instant quote online</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink breadcrumbActive">{{{ page.pageTitle }}}</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<div class="instantQuoteContent">
    <div class="wrapper mainWrapper">
        <div class="instantQuoteWrapper">
            <div class="instantQuoteImage schemesSprite {{{ page.quoteCover }}}"></div>
            <em class="instantQuotePrice">{{{ page.quotePrice }}}</em>
            <div class="instantQuoteDescription">{{{ page.quoteText }}}</div>
            <a href="/instant-quote/" class="instantQuoteBackButton backButton">Go back to choosing a service</a>
        </div>
    </div>
</div>

<section class="contactUsForm">
    <div class="wrapper blockWrapper">
        <p class="formAnnotation">
            {{# if page.hasContactForm }}
                ONLINE QUOTE IS NOT AVAILABLE FOR THIS TYPE OF SERVICE
            {{ else }}
                Once you fill out the form our automated tool will email you an online quote within 60 seconds.
            {{/ if }}
        </p>
        <div class="roundBlock masterBlock">
            {{# if page.hasContactForm }}
                {{> forms/contact-us/contact-us.form }}
            {{ else }}
                {{> forms/instant-quote/instant-quote.form }}
            {{/ if }}
        </div>
        <div class="roundBlock slaveBlock">
            <div class="greenSkyWrapper">
                <a class="logoSprite greenskyLogo" href="/about-us/financing-offers/">GreenSky</a>
                <a class="financingOffersLink" href="/about-us/financing-offers/">CLICK HERE TO REVIEW OUR FINANCING OFFERS AND APPLY ONLINE</a>
                <p class="financingOffersText">Approval rate of over 90% and decision in under 60 seconds.</p>
            </div>
        </div>
    </div>
</section>