<section class="pageHeader">
    <div class="wrapper headerWrapper">
        <div class="contentWrapper">
            <h1 class="pageTitle">Get An Instant Quote Online</h1>
            <nav class="breadcrumbs">
                <ul class="breadcrumbList">
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/">Basement Remodeling Company</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink breadcrumbActive">Get an instant quote online</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<div class="instantQuoteContent">
    <div class="wrapper mainWrapper">
        <p class="descriptionBlock">If you are not sure what kind of services you would like to talk about during your in-home consultation, please use our help tool below.</p>
        <ul class="fourColumnList">
            {{# each quotes }}
                <li class="listWrapper">
                    <div class="instantQuoteScheme schemesSprite {{{ quoteCover }}}"></div>
                    <a class="blackButton" href="/instant-quote/{{{ pageURL }}}/">{{{ pageTitle }}}</a>
                    <p class="textBlock">{{{ quoteAnnotation }}}</p>
                    {{# if quoteMinPrice }}
                        <em class="minPriceText">{{{ quoteMinPrice }}}</em>
                    {{/ if }}
                </li>
            {{/each}}
        </ul>
    </div>
</div>