 <section class="topImageSection localSection">
    <div class="topImageWrapper">
        <h1 class="topImageHeader">{{{ page.headerTitle }}}</h1>
        <div class="topImageText">{{{ page.headerText }}}</div>
        <div class="topImageButtonsWrapper">
            <div class="scheduleWrapper">
                <button class="consultationButton" type="button">SCHEDULE YOUR IN-HOME CONSULTATION RIGHT NOW</button>
                {{> micro-blocks/zip-code/zip-code }}
            </div>
            <a class="instantQuoteButton" href="/instant-quote/">GET AN INSTANT QUOTE ONLINE</a>
        </div>
    </div>
    <div class="localContent">
        <div class="plusWrapper">
            <ul class="plusList">
                <li class="plusItem">
                    <div class="plusIcon topRated">
                        <span class="iconLogo"></span>
                        <span class="iconText">TOP-RATED</span>
                    </div>
                    <p class="plusAdditional">With 200+ positive <span class="nobr">reviews online</span></p>
                </li>
                <li class="plusItem">
                    <div class="plusIcon experience">
                        <span class="iconLogo"></span>
                        <span class="iconText">EXPERIENCE SINCE 2006</span>
                    </div>
                    <p class="plusAdditional">We are experienced, licensed, and fully insured!</p>
                </li>
                <li class="plusItem">
                    <div class="plusIcon uniqueManagement">
                        <span class="iconLogo"></span>
                        <span class="iconText">UNIQUE PROJECT MANAGEMENT</span>
                    </div>
                    <p class="plusAdditional">Get your basement <span class="nobr">finished in 8 weeks</span></p>
                </li>
                <li class="plusItem">
                    <div class="plusIcon financing">
                        <span class="iconLogo"></span>
                        <span class="iconText">FINANCING AVAILABLE</span>
                    </div>
                    <p class="plusAdditional">Apply online and <span class="nobr">get approved today</span></p>
                </li>
            </ul>
            <p class="companyAnnounce">We are the company <span class="nobr">you have been looking for!</span></p>
            <a href="/" class="learnMoreButton">LEARN MORE</a>
        </div>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {{# each sliders }}
                <div class="swiper-slide slide{{{ sliderID }}}">
                    <style>
                        .slide{{{ sliderID }}} {
                            --top-image_320: url("{{{ sliderImage }}}_480x722.jpg");
                            --top-image_320x2: url("{{{ sliderImage }}}_960x1444.jpg");
                            --top-image_480: url("{{{ sliderImage }}}_768x726.jpg");
                            --top-image_480x2: url("{{{ sliderImage }}}_1536x1452.jpg");
                            --top-image_768: url("{{{ sliderImage }}}_1000x619.jpg");
                            --top-image_768x2: url("{{{ sliderImage }}}_2000x1238.jpg");
                            --top-image_1000: url("{{{ sliderImage }}}_1440x721.jpg");
                            --top-image_1000x2: url("{{{ sliderImage }}}_2880x1442.jpg");
                            --top-image_1440: url("{{{ sliderImage }}}_1440x877.jpg");
                            --top-image_1440x2: url("{{{ sliderImage }}}_2880x1754.jpg");
                        }
                    </style>
                </div>
            {{/each}}
        </div>
    </div>
 </section>