 <section class="topImageSection homeSection">
    <div class="topImageWrapper">
        <h1 class="topImageHeader">{{{ content.content1 }}}</h1>
        <p class="topImageText">{{{ content.content2 }}}</p>
        <div class="topImageButtonsWrapper">
            <div class="scheduleWrapper">
                <button class="consultationButton" type="button">SCHEDULE YOUR IN-HOME CONSULTATION RIGHT NOW</button>
                {{> micro-blocks/zip-code/zip-code }}
            </div>
            <a class="instantQuoteButton" href="/instant-quote/">GET AN INSTANT QUOTE ONLINE</a>
        </div>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {{# each slider }}
                <div class="swiper-slide slide{{{ sliderID }}}">
                    <style>
                        .slide{{{ sliderID }}} {
                            --top-image_320: url("{{{ sliderImage }}}_480x722.jpg");
                            --top-image_320x2: url("{{{ sliderImage }}}_960x1444.jpg");
                            --top-image_480: url("{{{ sliderImage }}}_768x726.jpg");
                            --top-image_480x2: url("{{{ sliderImage }}}_1536x1452.jpg");
                            --top-image_768: url("{{{ sliderImage }}}_1000x619.jpg");
                            --top-image_768x2: url("{{{ sliderImage }}}_2000x1238.jpg");
                            --top-image_1000: url("{{{ sliderImage }}}_1440x721.jpg");
                            --top-image_1000x2: url("{{{ sliderImage }}}_2880x1442.jpg");
                            --top-image_1440: url("{{{ sliderImage }}}_1440x877.jpg");
                            --top-image_1440x2: url("{{{ sliderImage }}}_2880x1754.jpg");
                        }
                    </style>
                </div>
            {{/each}}
        </div>
    </div>
 </section>