<section class="listSection">
    <ul class="listNode normalVisible elementsWrapper" data-page="10" data-api="/api/portfolio/all">
        {{# each portfolio }}
            <li class="listWrapper">
                <a class="wrapperLink" href="/admin/portfolio/edit/{{{ portfolioID }}}">
                    {{# if workImage }}
                        <div class="imageWrapper">
                            <picture>
                                <source srcset="{{{ workImage }}}_154x154.jpg, {{{ workImage }}}_308x308.jpg 2x"
                                        media="(max-width: 479px)" type="image/jpeg">
                                <source srcset="{{{ workImage }}}_252x252.jpg, {{{ workImage }}}_504x504.jpg 2x"
                                        media="(min-width: 480px)" type="image/jpeg">
                                <img class="listImage" alt="{{{ workTitle }}}, {{{ workCity }}}"
                                     srcset="{{{ workImage }}}_252x252.jpg, {{{ workImage }}}_504x504.jpg 2x"
                                     src="{{{ workImage }}}_252x252.jpg">
                            </picture>
                        </div>
                    {{ else }}
                        <div class="defaultImage"></div>
                    {{/ if }}
                    <span class="listTitle">{{{ workTitle }}}, {{{ workCity }}}</span>
                </a>
            </li>
        {{/ each }}
    </ul>
    <div class="buttonWrapper">
        <button class="showMoreButton" data-scroll="1" title="Show more">SHOW MORE</button>
    </div>
</section>

<template class="elementTemplate">
    <li class="listWrapper">
        <a class="wrapperLink" href="">
            <div class="imageWrapper"></div>
            <span class="listTitle"></span>
        </a>
    </li>
</template>

<script>
    const imageSize = [
        [`(max-width: 479px)`, `image/jpeg`, `_154x154.jpg`, `_308x308.jpg`],
        [`(min-width: 480px)`, `image/jpeg`, `_252x252.jpg`, `_504x504.jpg`]
    ];
    window.loaderData = (data) => {
        const { portfolioID, workImage, workTitle, workCity } = data;
        const title = workTitle + `, ` + workCity;
        const link = `/admin/portfolio/edit/` + portfolioID;
        return [
            {
                type: `picture`, parent: `.imageWrapper`, alt: title, image: workImage,
                imageSize, selector: `listImage`, data: `idea`, value: portfolioID
            },
            { type: `link`, selector: `.wrapperLink`, link },
            { type: `text`, selector: `.listTitle`, text: title }
        ];
    };
</script>