<ul class="filterList">
    {{# each filters }}
        <li class="filter {{# if children }}dropdownFilter{{/if}}">
            <span class="currentFilter">{{{ filterTitle }}}</span>
            {{# if children }}
                <div class="dropdownFilters">
                    <div class="dropdownFiltersWrapper">
                        <ul class="hiddenFilters">
                            {{# each children }}
                                <li class="hiddenFilter {{# if filterColor}}colorFilter{{/if}}"
                                    data-filter="filterArray" data-value="{{{ filterID }}}"
                                    data-title="{{{ filterTitle }}}">
                                    <span class="filterTitle">{{{ filterTitle }}}</span>
                                    {{# if filterColor }}
                                        <em class="colorBorder">
                                            <em class="colorFill" style="background: {{{ filterColor }}};"></em>
                                        </em>
                                    {{/if}}
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            {{/if}}
        </li>
    {{/each}}
    <li class="filter rangeFilter">
        <div class="rangeWrapper">
            <div class="rangeLine"
                 data-min="300" data-max="3000"
                 data-current-min="300" data-current-max="3000">
                <div class="rangeColored"></div>
                <button class="rangeButton rangeMinValue" type="button">MIN</button>
                <button class="rangeButton rangeMaxValue" type="button">MAX</button>
                <div class="rangeTitle rangeSingleTitle rangeMinTitle minValue">300</div>
                <div class="rangeTitle rangeSingleTitle rangeMaxTitle maxValue">3000+</div>
                <div class="rangeTitle rangeTwinTitle">
                    <span class="minValue">300</span> - <span class="maxValue">3000+</span>
                </div>
            </div>
        </div>
        <span class="currentFilter">SQ.FT.</span>
    </li>
</ul>