<section class="reviewsSection homeSection">
    <div class="youtubeWrapper">
        <div class="youtubeTextWrapper">
            <p class="textBlock youtubeText">{{{ content.content6 }}}</p>
        </div>
        <div class="youtubeVideoWrapper">
            <img class="youtubePreview" src="/public/images/youtube-preview.jpg" alt="Youtube video preview">
            <button class="youtubeButton" aria-label="View youtube video">View youtube video</button>
        </div>
    </div>
    <div class="reviewsWrapper">
        <h2 class="sectionTitle">{{{ content.content8 }}}</h2>
        <div class="reviewsTextWrapper">
            <p class="textBlock reviewsText">{{{ content.content7 }}}</p>
            <div class="reviewLinksWrapper">
                {{> micro-blocks/social-links/social-links }}
            </div>
            <a href="/about-us/testimonials/" class="moreReviewsButton">MORE REVIEWS</a>
        </div>
        <div class="reviewsCarouselWrapper">
            <button class="carouselArrow carouselLeftArrow hiddenArrow">Previous testimonial</button>
            <div class="carouselActionWrapper">
                <div class="carouselWrapper">
                    <ul class="cardList">
                        {{# each testimonials }}
                            <li class="cardWrapper">
                                <a class="cardLink" href="/about-us/testimonials/{{{ testimonialLink }}}">
                                    {{# if testimonialImage }}
                                        <picture>
                                            <source srcset="{{{ testimonialImage }}}_120x83.jpg,
                                                {{{ testimonialImage }}}_240x166.jpg 2x"
                                                    media="(max-width: 479px)" type="image/jpeg">
                                            <source srcset="{{{ testimonialImage }}}_228x123.jpg,
                                                {{{ testimonialImage }}}_456x246.jpg 2x"
                                                    media="(max-width: 767px)" type="image/jpeg">
                                            <source srcset="{{{ testimonialImage }}}_236x123.jpg,
                                                {{{ testimonialImage }}}_472x246.jpg 2x"
                                                    media="(max-width: 999px)" type="image/jpeg">
                                            <source srcset="{{{ testimonialImage }}}_314x173.jpg,
                                                {{{ testimonialImage }}}_628x346.jpg 2x"
                                                    media="(max-width: 1439px)" type="image/jpeg">
                                            <source srcset="{{{ testimonialImage }}}_330x173.jpg,
                                                {{{ testimonialImage }}}_660x346.jpg 2x"
                                                    media="(min-width: 1440px)" type="image/jpeg">
                                            <img class="cardImage" alt="{{{ testimonialAuthor }}}'s testimonial"
                                                 src="{{{ testimonialImage }}}_330x173.jpg"
                                                 srcset="{{{ testimonialImage }}}_330x173.jpg,
                                             {{{ testimonialImage }}}_660x346.jpg 2x">
                                        </picture>
                                    {{ else }}
                                        <div class="cardImage">{{{ name }}}'s testimonial</div>
                                    {{/ if }}
                                </a>
                                <div class="cardData">
                                    <a class="cardHeader" href="/about-us/testimonials/{{{ testimonialLink }}}">
                                        {{{ testimonialAuthor }}}
                                    </a>
                                    <div class="stars" data-rating="{{{ testimonialRating }}}">
                                        Stars: {{{ testimonialRating }}}
                                    </div>
                                    <p class="cardAnnounce" data-rows="6">{{{ testimonialAnnounce }}}</p>
                                    <div class="twoColumnsWrapper bottomCardWrapper">
                                        <span class="dataDate">{{{ testimonialDate }}}</span>
                                        <span class="dataState">{{{ testimonialState }}}</span>
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <button class="carouselArrow carouselRightArrow">Next testimonial</button>
        </div>
        <div class="reviewsBottomWrapper">
            <p class="textBlock reviewsAdditionalText">{{{ content.content9 }}}</p>
        </div>
    </div>
</section>