<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0;">
    <meta name="format-detection" content="telephone=no" />
    <title>Thank you for submitting your request</title>
</head>

<body>

<img src="https://basementremodeling.com/images/logo_mail.png"
     width="220" height="78" alt="BasementRemodeling.com logo">

<hr />

<p style="color: #000000;">Request data:</p>

<p style="color: #000000;"><strong>First Name:</strong> {{{ firstName }}}</p>
<p style="color: #000000;"><strong>Last Name:</strong> {{{ lastName }}}</p>
<p style="color: #000000;"><strong>ZIP Code:</strong> {{{ zipCode }}}</p>
<p style="color: #000000;"><strong>E-mail:</strong> {{{ email }}}</p>
<p style="color: #000000;"><strong>Sq.ft. to finish/remodel:</strong> {{{ square }}}</p>

<p style="color: #000000;"><strong>Would you like to have a bathroom?</strong> {{{ bathroomExist }}}</p>
<p style="color: #000000;"><strong>Would you like to have a wet bar/kitchenette?</strong> {{{ kitchenExist }}}</p>
<p style="color: #000000;"><strong>Demolition required?</strong> {{{ demolitionRequired }}}</p>
<p style="color: #000000;"><strong>Ceiling height over 8ft?</strong> {{{ isHeightOver }}}</p>

<p style="color: #000000;"><strong>How did you find us?</strong> {{{ referer }}}</p>

</body>
</html>