<section class="countiesSection homeSection">
    <div class="countiesMap">
        <div class="map"></div>
        <div class="mapBackground"></div>
        <div class="mapBorders"></div>
        <div class="mapCorners"></div>
        <div class="arrowToMap"></div>
        <div class="countyPin mainPin"></div>
        <div class="countyPin pin1"></div>
        <div class="countyPin pin2"></div>
        <div class="countyPin pin3"></div>
    </div>
    <div class="countiesContent">
        <h2 class="sectionTitle">{{{ content.content19 }}}</h2>
        <p class="textBlock">{{{ content.content20 }}}</p>
        <ul class="countiesList">
            {{# each offices }}
                <li class="countyWrapper">
                    {{{ officeTitle }}}:
                    <address class="countyAddress">{{{ officeAddress }}}</address>
                </li>
            {{/ each }}
        </ul>
        <button class="consultationButton">CONSULTATION</button>
    </div>
    <div class="serviceAreaWrapper">
        <h2 class="sectionTitle areaTitle">{{{ content.content21 }}}</h2>
        <p class="areaAnnounce textBlock">{{{ content.content22 }}}</p>
        {{# each location }}
            <h3 class="areaHeader">{{{ category }}}</h3>
            {{# if counties }}
                <ul class="areaList">
                    {{# each counties }}
                        <li class="areaWrapper">
                            <h4 class="areaLabel">{{{ locationTitle }}}</h4>
                            {{# if locationCounties }}
                                <p class="citiesText textBlock">{{{ locationCounties }}}</p>
                            {{/ if }}
                        </li>
                    {{/ each }}
                </ul>
            {{/ if }}
        {{/ each }}
    </div>
</section>