<section class="countiesSection homeSection">
    <div class="countiesMap">
        <div class="map"></div>
        <div class="mapBackground"></div>
        <div class="mapBorders"></div>
        <div class="mapCorners"></div>
        <div class="arrowToMap"></div>
        <div class="countyPin mainPin"></div>
        <div class="countyPin pin1"></div>
        <div class="countyPin pin2"></div>
        <div class="countyPin pin3"></div>
    </div>
    <div class="countiesContent">
        <h2 class="sectionTitle">Capable and Reliable Basement Remodeling and Finishing</h2>
        <p class="textBlock">Come visit our showroom and office in Rockville, MD to see our full flooring and cabinet selections! We want talk to you in person about your next project and show you around, so be sure to schedule an appointment in advance.</p>
        <ul class="countiesList">
            {{# each offices }}
                <li class="countyWrapper">
                    {{{ officeTitle }}}:
                    <address class="countyAddress">{{{ officeAddress }}}</address>
                </li>
            {{/ each }}
        </ul>
        <button class="consultationButton">CONSULTATION</button>
    </div>
    <div class="serviceAreaWrapper">
        <h2 class="sectionTitle areaTitle">Service area</h2>
        <p class="areaAnnounce textBlock">BasementRemodeling.com is a licensed and insured full service design-and-build remodeling company serving Washington DC, Maryland, and Virginia. Our headquarters and showroom are located in Rockville, MD, with warehouses located in Beltsville, MD, Baltimore, MD, and Arlington VA.</p>
        {{# each location }}
            <h3 class="areaHeader">{{{ category }}}</h3>
            {{# if counties }}
                <ul class="areaList">
                    {{# each counties }}
                        <li class="areaWrapper">
                            <h4 class="areaLabel">{{{ locationTitle }}}</h4>
                            {{# if locationCounties }}
                                <p class="citiesText textBlock">{{{ locationCounties }}}</p>
                            {{/ if }}
                        </li>
                    {{/ each }}
                </ul>
            {{/ if }}
        {{/ each }}
    </div>
</section>