<section class="pageHeader">
    <div class="wrapper headerWrapper">
        <div class="contentWrapper">
            <h1 class="pageTitle">Portfolio</h1>
            <nav class="breadcrumbs">
                <ul class="breadcrumbList">
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/">Basement Remodeling Company</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/portfolio/">Portfolio</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink breadcrumbActive">
                            {{{ page.workTitle }}}, {{{ page.workCity }}}
                        </span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<section class="portfolioWork">
    <div class="wrapper slimWrapper">
        <h1 class="sectionTitle">{{{ page.workTitle }}}, {{{ page.workCity }}}</h1>
        <div class="headerArrows">
            {{# if page.prevLink }}
                <a href="/portfolio/{{{ page.prevLink }}}"
                   class="headerArrow leftArrow">View previous portfolio work</a>
            {{/ if }}
            {{# if page.nextLink }}
                <a href="/portfolio/{{{ page.nextLink }}}"
                   class="headerArrow rightArrow">View next portfolio work</a>
            {{/ if }}
        </div>
        <div class="squareData">{{{ page.workSquare }}} SQ. FT.</div>
        <div class="picturesWrapper">
            <div class="pictureFull">
                <img class="fullsizePicture hiddenPicture" src=""
                     alt="{{{ page.workTitle }}}, {{{ page.workCity }}}">
                <div class="fullsizeLoader"></div>
            </div>
            <div class="portfolioPreviews">
                <ul class="previewList">
                    {{# each page.images }}
                        <li class="previewWrapper"
                            data-picture="{{{ ideaImage }}}.jpg">
                            <picture>
                                <source srcset="{{{ ideaImage }}}_38x38.jpg,
                                                {{{ ideaImage }}}_76x76.jpg 2x"
                                        media="(max-width: 479px)">
                                <source srcset="{{{ ideaImage }}}_71x71.jpg,
                                                {{{ ideaImage }}}_142x142.jpg 2x"
                                        media="(min-width: 480px)">
                                <img class="previewImage" src="{{{ ideaImage }}}_71x71.jpg"
                                     data-picture="{{{ ideaImage }}}.jpg"
                                     srcset="{{{ ideaImage }}}_71x71.jpg,
                                             {{{ ideaImage }}}_142x142.jpg 2x"
                                     alt="{{{ ideaTitle }}}">
                            </picture>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="portfolioText">
            <div class="contentTextarea">
                {{{ page.workText }}}
            </div>
        </div>
        <div class="buttonWrapper">
            <a href="/portfolio/" title="Return to portfolio" class="backButton">GO BACK</a>
        </div>
    </div>
</section>