<form class="formNode" action="/admin/basement-ideas/add">

    <input class="hiddenField" name="userID" type="hidden" value="1">

    <section class="fileSection">
        <div class="fileWrapper" style="width: 252px; height: 252px;">
            <input type="file" class="fileField" id="ideaImage" name="ideaImage">
            <label class="fileLabel" for="ideaImage">Idea image</label>
            <a href="{{{ page.ideaImage }}}.jpg" class="previewButton hiddenButton"
               data-fslightbox="preview">Zoom-in preview</a>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="ideaTitle">Idea title</label>
            <input class="textField" type="text" id="ideaTitle" name="ideaTitle">
        </div>
    </section>

    <section class="fieldSection">
        <div class="selectWrapper" data-id="creatorID" data-name="creatorName" style="margin: 0 10px 0 0;">
            <label class="fieldLabel">Created by</label>
            <div class="currentSelect"></div>
            <input class="hiddenField" type="hidden" name="creatorID" value="0">
            <div class="dropdownWrapper hiddenWrapper">
                {{# each creators }}
                    <div class="dropdownElement">
                        <div class="elementWrapper">
                            <span class="selectElement" data-request="{{{ creatorID }}}">{{{ creatorName }}}</span>
                            <button class="editButton" type="button" title="Edit author">Edit author</button>
                        </div>
                        <div class="editWrapper hiddenWrapper">
                            <input class="editField" type="text" value="{{{ creatorName }}}">
                            <button class="saveButton" data-api="/admin/basement-ideas/creators/edit"
                                    type="button" title="Save author">Save author</button>
                        </div>
                    </div>
                {{/ each }}
                <div class="newElement">
                    <div class="createWrapper">+ Add new</div>
                    <div class="editWrapper hiddenWrapper">
                        <input class="editField" type="text">
                        <button class="saveButton" data-api="/admin/basement-ideas/creators"
                                type="button" title="Save author">Save author</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="fieldWrapper" style="width: 100px;">
            <label class="fieldLabel" for="portfolioID">Portfolio ID</label>
            <input class="textField" type="text" id="portfolioID" name="portfolioID" value="{{{ portfolioID }}}">
        </div>
        <div class="selectWrapper autoWrapper">
            <div class="toggleButtonWrapper">
                <input class="toggleButton" type="checkbox" {{# if page.isArchived }}checked{{/if}}
                       name="isArchived" id="isArchived" value="1">
                <label class="buttonLabel" for="isArchived">Archive</label>
            </div>
        </div>
        <div class="selectWrapper autoWrapper">
            <div class="toggleButtonWrapper">
                <input class="toggleButton" type="checkbox" name="isModerated" id="isModerated" value="1">
                <label class="buttonLabel" for="isModerated">Moderate</label>
            </div>
        </div>
        <div class="selectWrapper autoWrapper">
            <div class="toggleButtonWrapper">
                <input class="toggleButton" type="checkbox" name="isHomeIdea" id="isHomeIdea" value="1">
                <label class="buttonLabel" for="isHomeIdea">Home</label>
            </div>
        </div>
    </section>

    <section class="filtersSection">
        <label class="fieldLabel">Categories:</label>
        <div class="categoriesWrapper">
            {{# each categories }}
                <ul>
                    <li class="catFilter level{{{ level }}}">
                        <span class="categoryHeader" data->{{{ categoryTitle }}}</span>
                        <div class="similarButton" data-category="{{{ categoryID }}}">Select</div>
                    </li>
                    {{# if children }}
                        <ul>
                            {{# each children }}
                                {{# if isActive }}
                                    <li class="catFilter activeFilter level{{{ level }}}">
                                        <input type="checkbox" name="categoryArray"
                                               value="{{{ categoryID }}}" id="category{{{ categoryID }}}">
                                        <label for="category{{{ categoryID }}}">{{{ categoryTitle }}}</label>
                                        <div class="similarButton" data-category="{{{ categoryID }}}">Select</div>
                                    </li>
                                {{ else }}
                                    <li class="catFilter level{{{ level }}}">
                                        <span class="categoryHeader">{{{ categoryTitle }}}</span>
                                        <div class="similarButton" data-category="{{{ categoryID }}}">Select</div>
                                    </li>
                                {{/ if }}
                                {{# if children }}
                                    <ul>
                                        {{# each children }}
                                            {{# if isActive }}
                                                <li class="catFilter activeFilter level{{{ level }}}">
                                                    <input type="checkbox" name="categoryArray"
                                                           value="{{{ categoryID }}}" id="category{{{ categoryID }}}">
                                                    <label for="category{{{ categoryID }}}">{{{ categoryTitle }}}</label>
                                                    <div class="similarButton" data-category="{{{ categoryID }}}">Select</div>
                                                </li>
                                            {{ else }}
                                                <li class="catFilter level{{{ level }}}">
                                                    <span class="categoryHeader">{{{ categoryTitle }}}</span>
                                                    <div class="similarButton" data-category="{{{ categoryID }}}">Select</div>
                                                </li>
                                            {{/ if }}
                                        {{/ each }}
                                    </ul>
                                {{/ if }}
                            {{/ each }}
                        </ul>
                    {{/ if }}
                </ul>
            {{/ each }}
        </div>
    </section>

    <section class="filtersSection">
        <label class="fieldLabel">Filters:</label>
        <div class="filtersWrapper">
            {{# each filters }}
                <ul>
                    <li>{{{ filterTitle }}}</li>
                    {{# if children }}
                        <ul>
                            {{# each children }}
                                <li class="activeFilter">
                                    <input type="checkbox" name="filterArray"
                                           {{# if isChosen }}checked{{/if}}
                                           value="{{{ filterID }}}" id="filter{{{ filterID }}}">
                                    <label for="filter{{{ filterID }}}">
                                        {{{ filterTitle }}}
                                    </label>
                                </li>
                            {{/ each }}
                        </ul>
                    {{/ if }}
                </ul>
            {{/ each }}
        </div>
    </section>

    <div class="formButtons">
        <button class="submitButton" type="button" title="Create" data-redirect="/admin/basement-ideas"
                data-action="create" data-api="">Create</button>
    </div>

</form>

<template class="dropdownTemplate">
    <div class="dropdownElement">
        <div class="elementWrapper">
            <span class="selectElement" data-request=""></span>
            <button class="editButton" type="button" title="Edit author">Edit author</button>
        </div>
        <div class="editWrapper hiddenWrapper">
            <input class="editField" type="text" value="">
            <button class="saveButton" data-api="/admin/basement-ideas/creators/edit"
                    type="button" title="Save author">Save author</button>
        </div>
    </div>
</template>