<form class="formNode">

    <input class="hiddenField" type="hidden" name="pageID" value="{{{ page.pageID }}}">

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="pageTitle">Page title</label>
            <input class="textField" type="text" id="pageTitle" name="pageTitle" value="{{{ page.pageTitle }}}">
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="pageDescription">Page description</label>
            <textarea class="textareaField" id="pageDescription" name="pageDescription">{{{ page.pageDescription }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="pageKeywords">Page keywords</label>
            <textarea class="textareaField" id="pageKeywords" name="pageKeywords">{{{ page.pageKeywords }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content31">Bottom title</label>
            <input class="textField" type="text" id="content31" name="content31" value="{{{ content.content31 }}}">
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content30">Bottom text</label>
            <textarea class="textareaField tinyField" id="content30" name="content30">{{{ content.content30 }}}</textarea>
        </div>
    </section>

    <div class="formButtons">
        <button class="submitButton" type="button" title="Update"
                data-action="update" data-api="">Update</button>
    </div>

</form>