<section class="pageHeader middleCategories">
    <div class="wrapper headerWrapper">
        <h1 class="pageTitle">{{{ category.categoryTitle }}}</h1>
        {{> micro-blocks/middle-categories/middle-categories }}
        <nav class="breadcrumbs">
            <ul class="breadcrumbList">
                <li class="breadcrumbLinkWrapper">
                    <a class="breadcrumbLink" href="/">BasementRemodeling.com</a>
                </li>
                <li class="breadcrumbLinkWrapper">
                    <a class="breadcrumbLink" href="/basement-ideas/">Basement ideas</a>
                </li>
                <li class="breadcrumbLinkWrapper">
                    <span class="breadcrumbLink breadcrumbActive">{{{ category.categoryTitle }}}</span>
                </li>
            </ul>
        </nav>
    </div>
</section>

<section class="filtersWrapper">
    <div class="wrapper headerWrapper">
        {{> micro-blocks/filters/ideas.filters }}
    </div>
</section>

<section class="chosenFiltersWrapper ideasActiveFilters">
    <div class="wrapper headerWrapper emptyChosenFilters">
        <form class="filtersForm" action="/api/ideas/category/{{{ category.categoryID }}}/filter">
            <ul class="activeFilterList"></ul>
            <input type="hidden" class="hiddenField orderField" name="order" value="ideaID">
        </form>
    </div>
</section>

<section class="ideasMain">
    <div class="wrapper listWrapper">
        <button class="ideasSortWrapper" data-order="ideas.timestamp">WHAT’S NEW</button>
        <ul class="ideaList elementsWrapper" data-page="12"
            data-api="/api/ideas/category/{{{ category.categoryID }}}/all">
            {{# each ideas }}
                {{> micro-blocks/idea/idea }}
            {{/each}}
        </ul>
        <button title="Show more" data-scroll="1"
                class="showMoreButton {{# if categoryData.hiddenButton }}hiddenButton{{/ if }}">SHOW MORE</button>
    </div>
    <div class="pageLoader hiddenLoader"></div>
</section>

<section class="ideasFooter">
    <div class="wrapper headerWrapper">
        <h2>{{{ content.content31 }}}</h2>
        <div class="contentWrapper">{{{ content.content30 }}}</div>
    </div>
</section>

<template class="elementTemplate">
    <li class="ideaWrapper">
        <div class="imageWrapper"></div>
        <button class="saveIdea" data-idea="">SAVE TO COLLECTION</button>
        <h3 class="ideaTitle"></h3>
        <strong class="ideaAuthor"></strong>
    </li>
</template>