<section class="licensesSection homeSection">
    <div class="wrapper contentWrapper maxPadding">
        <h2 class="sectionTitle">{{{ content.content27 }}}</h2>
        <p class="textBlock">{{{ content.content28 }}}</p>
        <p class="textBlock stateData">MARYLAND, VIRGINIA, WASHINGTON, DC</p>
    </div>
    <div class="wrapper maxPadding">
        <ul class="licenseList">
            {{# each licenses }}
                <li class="licenseWrapper">
                    <picture class="licenseImage">
                        <source srcset="/public/images/home/licenses/{{{ licenseCover }}}.webp,
                                        /public/images/home/licenses/{{{ licenseCover }}}@2x.webp 2x"
                                type="image/webp">
                        <source srcset="/public/images/home/licenses/{{{ licenseCover }}}.png,
                                        /public/images/home/licenses/{{{ licenseCover }}}@2x.png 2x"
                                type="image/jpeg">
                        <img class="licenseImage"
                             src="/public/images/home/licenses/{{{ licenseCover }}}.png"
                             srcset="/public/images/home/licenses/{{{ licenseCover }}}.png,
                                     /public/images/home/licenses/{{{ licenseCover }}}@2x.png 2x"
                             alt="{{{ licenseTitle }}}">
                    </picture>
                </li>
            {{/ each }}
        </ul>
        <button class="consultationButton" type="button">CONSULTATION</button>
    </div>
</section>