<section class="pageHeader">
    <div class="wrapper headerWrapper">
        <div class="contentWrapper">
            <h1 class="pageTitle">{{{ page.categoryName }}}</h1>
            <nav class="breadcrumbs">
                <ul class="breadcrumbList">
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/">Basement Remodeling Company</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/how-it-works/">How it works</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/how-it-works/basement-tips/">Basement tips</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink breadcrumbActive">{{{ page.tipTitle }}}</span>
                    </li>
                </ul>
            </nav>
            {{> micro-blocks/share-links/share-links }}
        </div>
    </div>
</section>

<section class="pageContent">
    <div class="wrapper center">
        <div class="twoColumnsWrapper">
            <span class="dataDate">{{{ page.tipDate }}}</span>
            <span class="dataState">{{{ page.tipCategory }}}</span>
        </div>
        <div class="twoColumnsWrapper pageTitleWrapper">
            <h1 class="contentHeader">{{{ page.tipTitle }}}</h1>
        </div>
        <div class="contentTextarea">
            {{{ page.tipText }}}
        </div>
    </div>
</section>

<section class="pageButtons">
    <div class="wrapper center">
        <div class="twoColumnsWrapper">
            <a class="backButton" href="/how-it-works/basement-tips/">GO BACK</a>
        </div>
    </div>
</section>