<section class="reviewsSection homeSection">
    <div class="youtubeWrapper">
        <div class="youtubeTextWrapper">
            <p class="textBlock youtubeText">See below where BasementRemodeling.com was featured on House Smarts, which was aired on CNBC back in September of 2019. This basement is located in Potomac, MD, and was completed by BasementRemodeling.com (ex- Basement Masters) during the Spring of 2019 for Mr. and Mrs. Terlinsky. Our whole team thanks Alan and Joan for the opportunity to transform their dream of a smart basement into a reality.</p>
        </div>
        <div class="youtubeVideoWrapper">
            <picture class="youtubeVideo">
                <source srcset="/public/images/temp/youtube_480.webp,
                            /public/images/temp/youtube_480@2x.webp 2x"
                        type="image/webp">
                <source srcset="/public/images/temp/youtube_480.jpg,
                            /public/images/temp/youtube_480@2x.jpg 2x"
                        type="image/jpeg">
                <img class="youtubeVideo"
                     src="/public/images/temp/youtube_480.jpg"
                     srcset="/public/images/temp/youtube_480.jpg,
                         /public/images/temp/youtube_480@2x.jpg 2x"
                     alt="Youtube video">
            </picture>
        </div>
    </div>
    <div class="reviewsWrapper">
        <h2 class="sectionTitle">We love our clients and they love us!</h2>
        <div class="reviewsTextWrapper">
            <p class="textBlock reviewsText">Want to know what our past clients have to say about their basement remodeling experiences with Basement Remodeling Company?</p>
            <div class="reviewLinksWrapper">
                {{> micro-blocks/social-links/social-links }}
            </div>
            <a href="/about-us/testimonials/" class="moreReviewsButton">MORE REVIEWS</a>
        </div>
        <div class="reviewsCarouselWrapper">
            <button class="carouselArrow carouselLeftArrow hiddenArrow">Previous testimonial</button>
            <div class="carouselActionWrapper">
                <div class="carouselWrapper">
                    <ul class="cardList">
                        {{#each testimonials}}
                            <li class="cardWrapper">
                                <a class="cardLink" href="/about-us/testimonials/{{{ id }}}">
                                    {{# if image }}
                                        <picture class="cardImage">
                                            <source srcset="/public/images/temp/testimonials/{{{ image }}}_120x83.webp,
                                        /public/images/temp/testimonials/{{{ image }}}_240x166.webp 2x"
                                                    media="(max-width: 479px)"
                                                    type="image/webp">
                                            <source srcset="/public/images/temp/testimonials/{{{ image }}}_120x83.jpg,
                                        /public/images/temp/testimonials/{{{ image }}}_240x166.jpg 2x"
                                                    media="(max-width: 479px)"
                                                    type="image/jpeg">
                                            <source srcset="/public/images/temp/testimonials/{{{ image }}}_228x123.webp,
                                        /public/images/temp/testimonials/{{{ image }}}_456x246.webp 2x"
                                                    media="(max-width: 767px)"
                                                    type="image/webp">
                                            <source srcset="/public/images/temp/testimonials/{{{ image }}}_228x123.jpg,
                                        /public/images/temp/testimonials/{{{ image }}}_456x246.jpg 2x"
                                                    media="(max-width: 767px)"
                                                    type="image/jpeg">
                                            <source srcset="/public/images/temp/testimonials/{{{ image }}}_236x123.webp,
                                        /public/images/temp/testimonials/{{{ image }}}_472x246.webp 2x"
                                                    media="(max-width: 999px)"
                                                    type="image/webp">
                                            <source srcset="/public/images/temp/testimonials/{{{ image }}}_236x123.jpg,
                                        /public/images/temp/testimonials/{{{ image }}}_472x246.jpg 2x"
                                                    media="(max-width: 999px)"
                                                    type="image/jpeg">
                                            <source srcset="/public/images/temp/testimonials/{{{ image }}}_314x173.webp,
                                        /public/images/temp/testimonials/{{{ image }}}_628x346.webp 2x"
                                                    media="(max-width: 1439px)"
                                                    type="image/webp">
                                            <source srcset="/public/images/temp/testimonials/{{{ image }}}_314x173.jpg,
                                        /public/images/temp/testimonials/{{{ image }}}_628x346.jpg 2x"
                                                    media="(max-width: 1439px)"
                                                    type="image/jpeg">
                                            <source srcset="/public/images/temp/testimonials/{{{ image }}}_330x173.webp,
                                        /public/images/temp/testimonials/{{{ image }}}_660x346.webp 2x"
                                                    media="(min-width: 1440px)"
                                                    type="image/webp">
                                            <source srcset="/public/images/temp/testimonials/{{{ image }}}_330x173.jpg,
                                        /public/images/temp/testimonials/{{{ image }}}_660x346.jpg 2x"
                                                    media="(min-width: 1440px)"
                                                    type="image/jpeg">
                                            <img class="cardImage"
                                                 src="/public/images/temp/testimonials/{{{ image }}}_330x173.jpg"
                                                 srcset="/public/images/temp/testimonials/{{{ image }}}_330x173.jpg,
                                     /public/images/temp/testimonials/{{{ image }}}_660x346.jpg 2x"
                                                 alt="{{{ name }}}'s testimonial">
                                        </picture>
                                    {{ else }}
                                        <div class="cardImage">{{{ name }}}'s testimonial</div>
                                    {{/ if }}
                                </a>
                                <div class="cardData">
                                    <a class="cardHeader" href="/about-us/testimonials/{{{ id }}}">{{{ name }}}</a>
                                    <div class="stars" data-rating="{{{ rating }}}">Stars: {{{ rating }}}</div>
                                    <p class="cardAnnounce" data-rows="6">{{{ announce }}}</p>
                                    <div class="twoColumnsWrapper bottomCardWrapper">
                                        <span class="dataDate">{{{ date }}}</span>
                                        <span class="dataState">{{{ state }}}</span>
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <button class="carouselArrow carouselRightArrow">Next testimonial</button>
        </div>
        <div class="reviewsBottomWrapper">
            <p class="textBlock reviewsAdditionalText">The overwhelmingly positive reception from our clients makes <span class="nobr">Basement Remodeling Company</span> stand out from other basement remodeling companies in Maryland. It definitely means something to us, and we think it should mean something to you, too!</p>
        </div>
    </div>
</section>