<section class="pricingSection homeSection">
    <div class="wrapper headerWrapper">
        <h2 class="sectionTitle">Upfront transparent pre-determined pricing for every client</h2>
        <p class="textBlock">Most recent basement remodeling projects below and visit our portfolio to review many more of the recent basement finishing and remodeling projects. Most recent basement remodeling projects below and visit our portfolio to review many more of the recent basement finishing and remodeling projects.</p>
    </div>
    <div class="wrapper">
        <div class="pricingTable">
            {{# each price }}
            <div class="pricingWrapper">
                <picture class="officeImage">
                    <source srcset="/public/images/home/pricing/{{{ priceCover }}}_320.jpg,
                                    /public/images/home/pricing/{{{ priceCover }}}_320@2x.jpg 2x"
                            media="(max-width: 479px)"
                            type="image/jpeg">
                    <source srcset="/public/images/home/pricing/{{{ priceCover }}}_480.jpg,
                                    /public/images/home/pricing/{{{ priceCover }}}_480@2x.jpg 2x"
                            media="(max-width: 767px)"
                            type="image/jpeg">
                    <source srcset="/public/images/home/pricing/{{{ priceCover }}}_768.jpg,
                                    /public/images/home/pricing/{{{ priceCover }}}_768@2x.jpg 2x"
                            media="(max-width: 999px)"
                            type="image/jpeg">
                    <source srcset="/public/images/home/pricing/{{{ priceCover }}}_1000.jpg,
                                    /public/images/home/pricing/{{{ priceCover }}}_1000@2x.jpg 2x"
                            media="(max-width: 1439px)"
                            type="image/jpeg">
                    <source srcset="/public/images/home/pricing/{{{ priceCover }}}_1440.jpg,
                                    /public/images/home/pricing/{{{ priceCover }}}_1440@2x.jpg 2x"
                            media="(min-width: 1440px)"
                            type="image/jpeg">
                    <img class="officeImage" alt="{{{ priceTitle }}}"
                         src="/public/images/home/pricing/{{{ priceCover }}}_1440.jpg"
                         srcset="/public/images/home/pricing/{{{ priceCover }}}_1440.jpg,
                                 /public/images/home/pricing/{{{ priceCover }}}_1440@2x.jpg 2x">
                </picture>
                <div class="pricingData">
                    <h3 class="pricingHeader">{{{ priceTitle }}}</h3>
                    <ul class="priceList">
                        {{# each priceFields }}
                        <li class="priceField">{{{ this }}}</li>
                        {{/ each }}
                    </ul>
                    <em class="pricingPrice">$ {{{ priceValue }}}</em>
                </div>
            </div>
            {{/ each }}
        </div>
    </div>
</section>