<section class="managementSection homeSection">
    <h2 class="sectionTitle managementTitle">{{{ content.content17 }}}</h2>
    <div class="stepsWrapper">
        <ul class="managementSteps">
            <li class="managementStep step1">
                <span class="stepTitle">Get an estimated cost to finish the basement</span>
            </li>
            <li class="managementStep step2">
                <span class="stepTitle">Initial an in-home consultation</span>
            </li>
            <li class="managementStep step3">
                <span class="stepTitle">Visit our showroom</span>
            </li>
            <li class="managementStep step4">
                <span class="stepTitle">Design & final <span class="nobr">costs consultation</span></span>
            </li>
            <li class="managementStep step5">
                <span class="stepTitle">Project preparation & <span class="nobr">pre-construction</span> meeting</span>
            </li>
        </ul>
        <p class="managementAnnounce">{{{ content.content18 }}}</p>
    </div>
    <div class="daysWrapper">
        <ul class="workList">
            {{# each steps }}
                <li class="workWrapper work{{{ stepID}}}">
                    <span class="workTitle">{{{ stepTitle }}}</span>
                    {{# if stepCover }}
                        <div class="workPictureWrapper">
                            <picture>
                                <source srcset="/public/images/home/steps/{{{ stepCover }}}_320.jpg,
                                                /public/images/home/steps/{{{ stepCover }}}_320@2x.jpg 2x"
                                        media="(max-width: 479px)" type="image/jpeg">
                                <source srcset="/public/images/home/steps/{{{ stepCover }}}_480.jpg,
                                                /public/images/home/steps/{{{ stepCover }}}_480@2x.jpg 2x"
                                        media="(max-width: 767px)" type="image/jpeg">
                                <source srcset="/public/images/home/steps/{{{ stepCover }}}_768.jpg,
                                                /public/images/home/steps/{{{ stepCover }}}_768@2x.jpg 2x"
                                        media="(max-width: 999px)" type="image/jpeg">
                                <source srcset="/public/images/home/steps/{{{ stepCover }}}_1000.jpg,
                                                /public/images/home/steps/{{{ stepCover }}}_1000@2x.jpg 2x"
                                        media="(max-width: 1439px)" type="image/jpeg">
                                <source srcset="/public/images/home/steps/{{{ stepCover }}}_1440.jpg,
                                                /public/images/home/steps/{{{ stepCover }}}_1440@2x.jpg 2x"
                                        media="(min-width: 1440px)" type="image/jpeg">
                                <img class="workPicture" alt="{{{ stepTitle }}}"
                                     src="/public/images/home/steps/{{{ stepCover }}}_1440.jpg"
                                     srcset="/public/images/home/steps/{{{ stepCover }}}_1440.jpg,
                                             /public/images/home/steps/{{{ stepCover }}}_1440@2x.jpg 2x">
                            </picture>
                        </div>
                    {{/ if }}
                </li>
            {{/ each }}
        </ul>
    </div>
    <div class="buttonWrapper">
        <a class="learnMoreButton" href="/how-it-works/our-process/">LEARN MORE ABOUT OUR PROCESS</a>
    </div>
</section>