<section class="awardsSection homeSection">
    <div class="wrapper headerWrapper maxPadding">
        <div class="awardsData">
            <h2 class="sectionTitle">{{{ content.content10 }}}</h2>
            <p class="textBlock">{{{ content.content11 }}}</p>
        </div>
        <ul class="awardList">
            {{# each awards }}
                <li class="awardWrapper">
                    <picture>
                        <source srcset="/public/images/home/awards/{{{ awardImage }}}.png,
                                        /public/images/home/awards/{{{ awardImage }}}@2x.png 2x"
                                type="image/jpeg">
                        <img class="awardImage" alt="{{{ awardTitle }}}"
                             src="/public/images/home/awards/{{{ awardImage }}}.png"
                             srcset="/public/images/home/awards/{{{ awardImage }}}.png,
                                     /public/images/home/awards/{{{ awardImage }}}@2x.png 2x">
                    </picture>
                </li>
            {{/ each }}
        </ul>
    </div>
</section>