{{# each zipCodes }}
    <p class="listTitle">Zone #{{{ codeID }}}</p>
    <form class="formNode zipZone" action="/admin/settings/zip-codes/edit">
        <input class="hiddenField" type="hidden" name="codeID" value="{{{ codeID }}}">
        <section class="fieldSection">
            <div class="fieldWrapper">
                <label class="fieldLabel" for="link{{{ codeID }}}">Zone link</label>
                <input class="textField" type="text" id="link{{{ codeID }}}" name="link" value="{{{ link }}}">
            </div>
            <div class="buttonWrapper">
                <button class="updateButton" type="button" data-redirect="/admin/settings/zip-codes/"
                        data-action="/admin/settings/zip-codes/{{{ codeID }}}" disabled>
                    Update
                </button>
            </div>
            <div class="buttonWrapper">
                <button class="deleteButton" type="button" data-redirect="/admin/settings/zip-codes/"
                        data-action="/admin/settings/zip-codes/{{{ codeID }}}">
                    Delete Zone
                </button>
                <div class="buttonHiddenWrapper hiddenWrapper">
                    <div class="wrapperTitle">Are you sure you want to remove this location?</div>
                    <div class="wrapperButtons">
                        <button class="cancelButton" type="button">CANCEL</button>
                        <button class="confirmButton" type="button">DELETE</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="fieldSection">
            <div class="fieldWrapper">
                <label class="fieldLabel" for="codes{{{ codeID }}}">Zone codes</label>
                <textarea class="textareaField" id="codes{{{ codeID }}}" style="height: 140px;"
                          name="codes">{{{ codes }}}</textarea>
            </div>
        </section>
    </form>
{{/each}}
<h3>Add new zone</h3>
<form class="formNode zipZone" action="/admin/settings/zip-codes/add">
    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="link">Zone link</label>
            <input class="textField" type="text" id="link" name="link">
        </div>
        <div class="buttonWrapper">
            <button class="createButton" type="button" data-redirect="/admin/settings/zip-codes/" disabled>
                Create
            </button>
        </div>
    </section>
    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="codes">Zone codes</label>
            <textarea class="textareaField" id="codes" style="height: 200px;" name="codes"></textarea>
        </div>
    </section>
</form>