<section class="pageHeader">
    <div class="wrapper headerWrapper">
        <div class="contentWrapper">
            <h1 class="pageTitle">In the press</h1>
            <nav class="breadcrumbs">
                <ul class="breadcrumbList">
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/">Basement Remodeling Company</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink">About us</span>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink breadcrumbActive">In the press</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<section class="pageContent">
    <div class="wrapper">
        <ul class="cardList elementsWrapper" data-page="9"">
            {{# each press }}
                <li class="cardWrapper">
                    <a class="cardLink" href="/about-us/in-the-press/{{{ pressID }}}">
                        {{# if pressImage }}
                            <picture class="cardImage">
                                <source srcset="{{{ pressImage }}}_120x83.jpg, {{{ pressImage }}}_240x166.jpg 2x"
                                        media="(max-width: 479px)" type="image/jpeg">
                                <source srcset="{{{ pressImage }}}_228x123.jpg, {{{ pressImage }}}_456x246.jpg 2x"
                                        media="(max-width: 767px)" type="image/jpeg">
                                <source srcset="{{{ pressImage }}}_236x123.jpg, {{{ pressImage }}}_472x246.jpg 2x"
                                        media="(max-width: 999px)" type="image/jpeg">
                                <source srcset="{{{ pressImage }}}_314x173.jpg, {{{ pressImage }}}_628x346.jpg 2x"
                                        media="(max-width: 1439px)" type="image/jpeg">
                                <source srcset="{{{ pressImage }}}_330x173.jpg, {{{ pressImage }}}_660x346.jpg 2x"
                                        media="(min-width: 1440px)" type="image/jpeg">
                                <img class="cardImage" src="{{{ pressImage }}}_330x173.jpg" alt="{{{ pressTitle }}}"
                                     srcset="{{{ pressImage }}}_330x173.jpg, {{{ pressImage }}}_660x346.jpg 2x">
                            </picture>
                        {{ else }}
                            <div class="cardImage">{{{ pressTitle }}}</div>
                        {{/ if }}
                    </a>
                    <div class="cardData">
                        <a class="cardHeader" href="/about-us/in-the-press/{{{ pressID }}}">
                            {{{ pressTitle }}}
                        </a>
                        <p class="cardAnnounce" data-rows="5">{{{ pressAnnounce }}}</p>
                        <div class="twoColumnsWrapper bottomCardWrapper">
                            <span class="dataDate">{{{ pressDate }}}</span>
                            <span class="dataState">{{{ pressMagazine }}}</span>
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
        <button class="showMoreButton {{# if pressData.hiddenButton }}hiddenButton{{/if}}"
                data-scroll="1">SHOW MORE</button>
    </div>
</section>

<template class="elementTemplate">
    <li class="cardWrapper">
        <a class="cardLink" href=""></a>
        <div class="cardData">
            <a class="cardHeader" href=""></a>
            <p class="cardAnnounce" data-rows="5"></p>
            <div class="twoColumnsWrapper bottomCardWrapper">
                <span class="dataDate"></span>
                <span class="dataState"></span>
            </div>
        </div>
    </li>
</template>