<section class="pageHeader">
    <div class="wrapper headerWrapper">
        <div class="contentWrapper">
            <h1 class="pageTitle">In the press</h1>
            <nav class="breadcrumbs">
                <ul class="breadcrumbList">
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/">BasementRemodeling.com</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/about-us/">About us</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/about-us/in-the-press/">In the press</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink breadcrumbActive">{{{ page.pressTitle }}}</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<section class="pageContent">
    <div class="wrapper center">
        <div class="twoColumnsWrapper">
            <span class="dataDate">{{{ page.pressDate }}}</span>
            <span class="dataState">{{{ page.pressMagazine }}}</span>
        </div>
        <div class="twoColumnsWrapper pageTitleWrapper">
            <h1 class="innerPageTitle">{{{ page.pressTitle }}}</h1>
        </div>
        <div class="contentTextarea">
            {{{ page.pressText }}}
        </div>
    </div>
</section>

<section class="pageButtons">
    <div class="wrapper center">
        <div class="twoColumnsWrapper">
            <a href="/about-us/in-the-press/" class="backButton">GO BACK</a>
            {{# if isAdmin }}
                <a class="adminEditButton rightPosition" target="_blank"
                   href="/admin/about-us/press/edit/{{{ page.pressID }}}">EDIT ENTRY</a>
            {{/ if }}
            {{# if page.pressSource }}
                <a class="sourceButton" href="{{{ page.pressSource }}}" target="_blank">SEE IN THE SOURCE</a>
            {{/ if }}
        </div>
    </div>
</section>