<section class="pageHeader">
    <div class="wrapper headerWrapper">
        <div class="contentWrapper">
            <h1 class="pageTitle">In the press</h1>
            <nav class="breadcrumbs">
                <ul class="breadcrumbList">
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/">Basement Remodeling Company</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink">About us</span>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink breadcrumbActive">In the press</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<section class="pageContent">
    <div class="wrapper">
        <ul class="cardList">
            {{#each articles}}
                <li class="cardWrapper">
                    <a class="cardLink" href="/about-us/in-the-press/{{{ id }}}">
                        {{# if image }}
                            <picture class="cardImage">
                                <source srcset="/public/images/temp/in-the-press/{{{ image }}}_120x83.webp,
                                        /public/images/temp/in-the-press/{{{ image }}}_240x166.webp 2x"
                                        media="(max-width: 479px)"
                                        type="image/webp">
                                <source srcset="/public/images/temp/in-the-press/{{{ image }}}_120x83.jpg,
                                        /public/images/temp/in-the-press/{{{ image }}}_240x166.jpg 2x"
                                        media="(max-width: 479px)"
                                        type="image/jpeg">
                                <source srcset="/public/images/temp/in-the-press/{{{ image }}}_228x123.webp,
                                        /public/images/temp/in-the-press/{{{ image }}}_456x246.webp 2x"
                                        media="(max-width: 767px)"
                                        type="image/webp">
                                <source srcset="/public/images/temp/in-the-press/{{{ image }}}_228x123.jpg,
                                        /public/images/temp/in-the-press/{{{ image }}}_456x246.jpg 2x"
                                        media="(max-width: 767px)"
                                        type="image/jpeg">
                                <source srcset="/public/images/temp/in-the-press/{{{ image }}}_236x123.webp,
                                        /public/images/temp/in-the-press/{{{ image }}}_472x246.webp 2x"
                                        media="(max-width: 999px)"
                                        type="image/webp">
                                <source srcset="/public/images/temp/in-the-press/{{{ image }}}_236x123.jpg,
                                        /public/images/temp/in-the-press/{{{ image }}}_472x246.jpg 2x"
                                        media="(max-width: 999px)"
                                        type="image/jpeg">
                                <source srcset="/public/images/temp/in-the-press/{{{ image }}}_314x173.webp,
                                        /public/images/temp/in-the-press/{{{ image }}}_628x346.webp 2x"
                                        media="(max-width: 1439px)"
                                        type="image/webp">
                                <source srcset="/public/images/temp/in-the-press/{{{ image }}}_314x173.jpg,
                                        /public/images/temp/in-the-press/{{{ image }}}_628x346.jpg 2x"
                                        media="(max-width: 1439px)"
                                        type="image/jpeg">
                                <source srcset="/public/images/temp/in-the-press/{{{ image }}}_330x173.webp,
                                        /public/images/temp/in-the-press/{{{ image }}}_660x346.webp 2x"
                                        media="(min-width: 1440px)"
                                        type="image/webp">
                                <source srcset="/public/images/temp/in-the-press/{{{ image }}}_330x173.jpg,
                                        /public/images/temp/in-the-press/{{{ image }}}_660x346.jpg 2x"
                                        media="(min-width: 1440px)"
                                        type="image/jpeg">
                                <img class="cardImage"
                                     src="/public/images/temp/in-the-press/{{{ image }}}_330x173.jpg"
                                     srcset="/public/images/temp/in-the-press/{{{ image }}}_330x173.jpg,
                                     /public/images/temp/in-the-press/{{{ image }}}_660x346.jpg 2x"
                                     alt="{{{ title }}}">
                            </picture>
                        {{ else }}
                            <div class="cardImage">{{{ title }}}'s testimonial</div>
                        {{/ if }}
                    </a>
                    <div class="cardData">
                        <a class="cardHeader" href="/about-us/in-the-press/{{{ id }}}">{{{ title }}}</a>
                        <p class="cardAnnounce" data-rows="5">{{{ announce }}}</p>
                        <div class="twoColumnsWrapper bottomCardWrapper">
                            <span class="dataDate">{{{ date }}}</span>
                            <span class="dataState">{{{ magazine }}}</span>
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
        <button class="showMoreButton">SHOW MORE</button>
    </div>
</section>