<ul class="formsData">
    <li class="dataWrapper">
        <div class="dataLink headerWrapper">
            <span class="fieldName">Client name</span>
            <span class="fieldAddress">Square / Zip code</span>
            <span class="fieldDate">Client email</span>
            <span class="timestamp">Added date</span>
        </div>
    </li>
    {{# each forms }}
        <li class="dataWrapper">
            <a class="dataLink" href="{{{ requestID }}}">
                <span class="fieldName">{{{ firstName }}} {{{ lastName }}}</span>
                <span class="fieldConsultation">{{{ square }}} SQ. FT. / {{{ zipCode }}}</span>
                <span class="fieldEmail">{{{ email }}}</span>
                <span class="timestamp">{{{ timestamp }}}</span>
            </a>
        </li>
    {{/ each }}
</ul>