<section class="cardSection">
    <div class="wrapper center">
        <div class="cardWrapper">
            <div class="userWrapper">
                <div class="userAvatar">
                    {{# if profile.isAvatarExist }}
                        <img class="avatarPicture" src="{{{ profile.avatarImage }}}_130x130.jpg"
                             alt="Avatar photo">
                    {{/ if }}
                </div>
                <div class="userInfoWrapper">
                    <p class="userNameWrapper">
                        <span class="name">{{{ profile.name }}}</span>
                        <span class="surname">{{{ profile.surname }}}</span>
                        <span class="mail">{{{ profile.mail }}}</span>
                        <span class="username">{{{ profile.username }}}</span>
                        <span class="userID">{{{ profile.userID }}}</span>
                    </p>
                    <span class="userMembership">Member since {{{ profile.year }}}</span>
                </div>
            </div>
            <div class="cardButtonsWrapper">
                <button class="cardButton editProfileButton" type="button" title="Edit profile">
                    <span class="cardIcon">EDIT</span> Edit profile
                </button>
                <button class="cardButton addPhotoButton" type="button" title="Add photo">
                    <span class="cardIcon">ADD</span> Add photo
                </button>
            </div>
        </div>
    </div>
</section>

<section class="userSavedPhotos">
    <div class="wrapper center">
        <div class="sectionHeader">
            <h2 class="sectionTitle">My collection</h2>
            {{# if isAlbumsVisible }}
                <button class="createAlbumButton"
                        type="button" title="Create album">CREATE ALBUM</button>
            {{/ if }}
        </div>
        {{> micro-blocks/profile-menu/profile-menu }}
        {{# if isAlbumsVisible }}
            <ul class="albumList">
                {{# each albums }}
                    <li class="albumWrapper" data-album="{{{ albumID }}}">
                        <a class="albumLink" href="/profile/saved/{{{ albumID }}}">
                            <div class="albumCoverWrapper">
                                <img class="albumCoverPicture"
                                     src="{{{ albumCover }}}.jpg"
                                     alt="{{{ albumTitle }}}">
                                {{# if albumCount }}
                                    <div class="albumPicturesCount">{{{ albumCount }}}</div>
                                {{/if}}
                            </div>
                        </a>
                        <button class="editAlbumButton"
                                type="button" title="Edit album">Edit album</button>
                        <h3 class="albumTitle">{{{ albumTitle }}}</h3>
                    </li>
                {{/each}}
                <li class="albumWrapper">
                    <div class="albumCoverWrapper">
                        <button class="albumAddCover createAlbumButton {{# if albums }}alreadyAdded{{/ if }}"
                                type="button"
                                title="Create album">Create album</button>
                    </div>
                </li>
            </ul>
        {{/ if }}
    </div>
</section>

<section class="ideasMain">
    <div class="wrapper listWrapper">
        <ul class="ideaList">
            {{# if isUploadedIdeas }}
                <li class="ideaWrapper buttonWrapper">
                    <button class="addPhotoButton"
                            title="Add a new photo" type="button">Add a new photo</button>
                </li>
            {{/ if }}
            {{# each ideas }}
                <li class="ideaWrapper" data-album="{{{ albumID }}}">
                    <div class="ideaPhotoWrapper">
                        <img class="{{# if ideaAuthor }}ideaPhoto{{ else }}uploadedPhoto{{/ if }}"
                             data-idea="{{{ ideaID }}}"
                             src="{{{ ideaImage }}}_252x252.jpg"
                             alt="{{{ ideaTitle }}}">
                        <button class="deleteCardButton" title="Delete picture"
                                type="button">DELETE</button>
                        <div class="hoverCardWrapper">
                            <div class="deleteWrapper">
                                <p class="deleteAnnotation">Are you sure you want to remove this photo?</p>
                                <form class="deleteButtonsWrapper formWrapper">
                                    <input class="hiddenField" type="hidden"
                                           name="ideaID" value="{{{ ideaID }}}">
                                    {{# if albumID }}
                                        <input class="hiddenField" type="hidden"
                                               name="albumID" value="{{{ albumID }}}">
                                    {{/if}}
                                    <button class="cancelButton"
                                            title="Cancel" type="button">CANCEL</button>
                                    {{# if ideaAuthor }}
                                        <button class="deleteButton" data-api="/api/ideas/relation"
                                                title="Delete" type="button">DELETE</button>
                                    {{ else }}
                                        <button class="deleteButton" data-api="/api/ideas"
                                                title="Delete" type="button">DELETE</button>
                                    {{/if}}
                                </form>
                            </div>
                        </div>
                    </div>
                    <h3 class="ideaTitle">{{{ ideaTitle }}}</h3>
                    {{# if ideaAuthor }}
                        <strong class="ideaAuthor">By {{{ ideaAuthor }}}</strong>
                    {{ else }}
                        <strong class="ideaAuthor">By you</strong>
                    {{/ if }}
                </li>
            {{/each}}
        </ul>
        <button class="showMoreButton hiddenButton">SHOW MORE</button>
    </div>
</section>

<template class="albumTemplate">
    <li class="albumWrapper" data-album="">
        <a class="albumLink" href="#">
            <div class="albumCoverWrapper">
                <img class="albumCoverPicture" src="" alt="">
            </div>
        </a>
        <button class="editAlbumButton" type="button" title="Edit album">Edit album</button>
        <h3 class="albumTitle"></h3>
    </li>
</template>

<template class="ideaTemplate">
    <li class="ideaWrapper">
        <div class="ideaPhotoWrapper">
            <img class="ideaPhoto" src="" alt="">
            <button class="deleteCardButton" title="Delete picture" type="button">DELETE</button>
            <div class="hoverCardWrapper">
                <div class="deleteWrapper">
                    <p class="deleteAnnotation">Are you sure you want to remove this photo?</p>
                    <form class="deleteButtonsWrapper formWrapper">
                        <input class="hiddenField" type="hidden" name="ideaID">
                        <button class="cancelButton" title="Cancel" type="button">CANCEL</button>
                        <button class="deleteButton" title="Delete" data-api="/api/ideas"
                                type="button">DELETE</button>
                    </form>
                </div>
            </div>
        </div>
        <h3 class="ideaTitle"></h3>
        <strong class="ideaAuthor">By you</strong>
    </li>
</template>