<section class="cardSection">
    <div class="wrapper center">
        <div class="cardWrapper">
            <div class="userWrapper">
                <div class="userAvatar">
                    {{# if userData.isAvatarExist }}
                        <img class="avatarPicture"
                             src="{{{ userData.avatar }}}"
                             alt="Avatar photo">
                    {{/ if }}
                </div>
                <div class="userInfoWrapper">
                    <p class="userNameWrapper">
                        <span class="name">{{{ userData.name }}}</span>
                        <span class="surname">{{{ userData.surname }}}</span>
                        <span class="mail">{{{ userData.mail }}}</span>
                        <span class="username">{{{ userData.username }}}</span>
                        <span class="userID">{{{ userData.userID }}}</span>
                    </p>
                    <span class="userMembership">{{{ userData.membership }}}</span>
                </div>
            </div>
            <div class="cardButtonsWrapper">
                <button class="cardButton editProfileButton" type="button" title="Edit profile">
                    <span class="cardIcon">EDIT</span> Edit profile
                </button>
                <button class="cardButton addPhotoButton" type="button" title="Add photo">
                    <span class="cardIcon">ADD</span> Add photo
                </button>
            </div>
        </div>
    </div>
</section>

<section class="userSavedPhotos">
    <div class="wrapper center">
        <div class="sectionHeader">
            <h2 class="sectionTitle">My collection</h2>
            <button class="createAlbumButton" type="button" title="Create album">CREATE ALBUM</button>
        </div>
        {{> page-header/profile-menu }}
    </div>
</section>

<section class="ideasMain">
    <div class="wrapper listWrapper">
        <ul class="ideaList savedList">
            {{# each ideas }}
                <li class="ideaWrapper" data-album="{{{ albumID }}}">
                    <div class="ideaPhotoWrapper">
                        <img class="ideaPhoto"
                             data-idea="{{{ id }}}"
                             src="/public/images/temp/{{{ image }}}.jpg"
                             alt="{{{ title }}}">
                        <button class="deleteCardButton" title="Delete picture" type="button">DELETE</button>
                        <div class="hoverCardWrapper">
                            <div class="deleteWrapper">
                                <p class="deleteAnnotation">Are you sure you want to remove this photo?</p>
                                <form class="deleteButtonsWrapper formWrapper">
                                    <input class="hiddenField" type="hidden" name="ideaID" value="{{{ id }}}">
                                    <button class="cancelButton" title="Cancel" type="button">CANCEL</button>
                                    <button class="deleteButton" title="Delete" type="button">DELETE</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <h3 class="ideaTitle">{{{ title }}}</h3>
                    <strong class="ideaAuthor">{{{ author }}}</strong>
                </li>
            {{/each}}
        </ul>
        {{# if isMoreButtonVisible }}
            <button class="showMoreButton">SHOW MORE</button>
        {{/ if }}
    </div>
</section>

<template class="albumTemplate">
    <li class="albumWrapper" data-album="">
        <a class="albumLink" href="#">
            <div class="albumCoverWrapper">
                <img class="albumCoverPicture" src="" alt="">
            </div>
        </a>
        <button class="editAlbumButton" type="button" title="Edit album">Edit album</button>
        <h3 class="albumTitle"></h3>
    </li>
</template>

<template class="ideaTemplate">
    <li class="ideaWrapper">
        <div class="ideaPhotoWrapper">
            <img class="ideaPhoto" src="" alt="">
            <button class="deleteCardButton" title="Delete picture" type="button">DELETE</button>
            <div class="hoverCardWrapper">
                <div class="deleteWrapper">
                    <p class="deleteAnnotation">Are you sure you want to remove this photo?</p>
                    <form class="deleteButtonsWrapper formWrapper">
                        <input class="hiddenField" type="hidden" name="ideaID" value="{{{ id }}}">
                        <button class="cancelButton" title="Cancel" type="button">CANCEL</button>
                        <button class="deleteButton" title="Delete" type="button">DELETE</button>
                    </form>
                </div>
            </div>
        </div>
        <h3 class="ideaTitle"></h3>
        <strong class="ideaAuthor"></strong>
    </li>
</template>