<section class="basementTipsSection homeSection">
    <div class="wrapper">
        <h2 class="sectionTitle">Basement Tips</h2>
        <a class="viewAllButton" href="/how-it-works/basement-tips/">VIEW ALL</a>
    </div>
    <div class="wrapper">
        <ul class="cardList">
            {{# each tips }}
                <li class="cardWrapper">
                    <a class="cardLink"
                       href="/how-it-works/basement-tips/{{{ tipLink }}}">
                        {{# if tipImage }}
                            {{# if isFirstCard }}
                                <picture>
                                    <source srcset="{{{ tipImage }}}_120x83.jpg, {{{ tipImage }}}_240x166.jpg 2x"
                                            media="(max-width: 479px)" type="image/jpeg">
                                    <source srcset="{{{ tipImage }}}_228x123.jpg, {{{ tipImage }}}_456x246.jpg 2x"
                                            media="(max-width: 767px)" type="image/jpeg">
                                    <source srcset="{{{ tipImage }}}_482x251.jpg, {{{ tipImage }}}_964x502.jpg 2x"
                                            media="(max-width: 999px)" type="image/jpeg">
                                    <source srcset="{{{ tipImage }}}_722x271.jpg, {{{ tipImage }}}_1444x542.jpg 2x"
                                            media="(max-width: 1439px)" type="image/jpeg">
                                    <source srcset="{{{ tipImage }}}_770x293.jpg, {{{ tipImage }}}_1540x586.jpg 2x"
                                            media="(min-width: 1440px)" type="image/jpeg">
                                    <img class="cardImage" src="{{{ tipImage }}}_770x293.jpg" alt="{{{ tipTitle }}}"
                                         srcset="{{{ tipImage }}}_770x293.jpg, {{{ tipImage }}}_1540x586.jpg 2x">
                                </picture>
                            {{ else }}
                                <picture>
                                    <source srcset="{{{ tipImage }}}_120x83.jpg, {{{ tipImage }}}_240x166.jpg 2x"
                                            media="(max-width: 479px)" type="image/jpeg">
                                    <source srcset="{{{ tipImage }}}_228x123.jpg, {{{ tipImage }}}_456x246.jpg 2x"
                                            media="(max-width: 767px)" type="image/jpeg">
                                    <source srcset="{{{ tipImage }}}_236x123.jpg, {{{ tipImage }}}_472x246.jpg 2x"
                                            media="(max-width: 999px)" type="image/jpeg">
                                    <source srcset="{{{ tipImage }}}_314x173.jpg, {{{ tipImage }}}_628x346.jpg 2x"
                                            media="(max-width: 1439px)" type="image/jpeg">
                                    <source srcset="{{{ tipImage }}}_330x173.jpg, {{{ tipImage }}}_660x346.jpg 2x"
                                            media="(min-width: 1440px)" type="image/jpeg">
                                    <img class="cardImage" src="{{{ tipImage }}}_330x173.jpg" alt="{{{ title }}}"
                                         srcset="{{{ tipImage }}}_330x173.jpg, {{{ tipImage }}}_660x346.jpg 2x">
                                </picture>
                            {{/ if }}
                        {{ else }}
                            <div class="cardImage">{{{ tipTitle }}}</div>
                        {{/ if }}
                    </a>
                    <div class="cardData">
                        <a class="cardHeader"
                           href="/how-it-works/basement-tips/{{{ tipLink }}}">
                            {{{ tipTitle }}}
                        </a>
                        <p class="cardAnnounce" data-rows="5">{{{ tipAnnounce }}}</p>
                        <div class="twoColumnsWrapper bottomCardWrapper">
                            <span class="dataDate">{{{ tipDate }}}</span>
                            <span class="dataState">{{{ categoryName }}}</span>
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</section>