<section class="pageHeader">
    <div class="wrapper headerWrapper">
        <div class="contentWrapper">
            <h1 class="pageTitle">Please leave a review</h1>
            <nav class="breadcrumbs">
                <ul class="breadcrumbList">
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/">BasementRemodeling.com</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink breadcrumbActive">Please leave a review</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<section class="reviewsSection innerSection">
    {{# each reviewPages }}
    <div class="wrapper blockWrapper">
        <div class="reviewLinks">
            <div class="reviewTitle">{{{ reviewTitle }}}</div>
            <ul class="socialLinks">
                {{# if facebookLink }}
                <li class="socialLinkWrapper">
                    <a class="socialLink logoSprite facebookLogo" rel="nofollow" title="Facebook"
                       href="{{{ facebookLink }}}" target="_blank">Facebook</a>
                </li>
                {{/ if }}
                {{# if houzzLink }}
                <li class="socialLinkWrapper backgroundLogoWrapper">
                    <a class="socialLink logoSprite houzzLogo" rel="nofollow" title="houzz"
                       href="{{{ houzzLink }}}" target="_blank">houzz</a>
                </li>
                {{/ if }}
                {{# if angielListLink }}
                <li class="socialLinkWrapper">
                    <a class="socialLink logoSprite angiesListLogo" rel="nofollow" title="Angie`s list"
                       href="{{{ angielListLink }}}" target="_blank">Angie`s list</a>
                </li>
                {{/ if }}
                {{# if porchLink }}
                <li class="socialLinkWrapper backgroundLogoWrapper">
                    <a class="socialLink logoSprite porchLogo" rel="nofollow" title="Porch"
                       href="{{{ porchLink }}}" target="_blank">Porch</a>
                </li>
                {{/ if }}
                {{# if googleLink }}
                <li class="socialLinkWrapper">
                    <a class="socialLink logoSprite googleLogo" rel="nofollow" title="Google"
                       href="{{{ googleLink }}}" target="_blank">Google</a>
                </li>
                {{/ if }}
            </ul>
        </div>
        <div class="reviewMap" data-lat="{{{ lat }}}"
             data-lng="{{{ lng }}}" data-zoom="{{{ zoom }}}"></div>
    </div>
    {{/each}}
</section>

<script>
    const mapNodes = [...document.querySelectorAll(`.reviewMap`)];
    function initMap() {
        mapNodes.forEach((mapNode) => {
            const { dataset: { lat, lng, zoom }} = mapNode;
            const position = { lat: (lat) ? Number(lat) : 38.89511, lng: (lng) ? Number(lng) : -77.03637 };
            const map = new google.maps.Map(mapNode, { zoom: (zoom) ? Number(zoom) : 8, center: position });
            const icon = `/public/images/vector/pin-image.svg`;
            const pinOptions = { map, position, icon };
            new google.maps.Marker(pinOptions);
        });
    }
</script>

<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUZcbipHbHCXwp6PdXIFGhExytbzvh7Tk&callback=initMap"></script>