<ul class="formsData bookingData">
    <li class="dataWrapper">
        <div class="dataLink headerWrapper">
            <span class="timestamp">Booking Made</span>
            <span class="fieldName">Name</span>
            <span class="fieldAddress">Address</span>
            <span class="fieldPhone">Phone</span>
            <span class="fieldEmail">Email</span>
            <span class="fieldSquare">Sq.Ft.</span>
            <span class="fieldDate">Appointment Date</span>
        </div>
    </li>
    {{# each forms }}
        <li class="dataWrapper">
            <a class="dataLink" href="{{{ bookingID }}}">
                <span class="timestamp">{{{ timestamp }}}</span>
                <span class="fieldName">{{{ firstName }}} {{{ lastName }}}</span>
                <span class="fieldAddress">{{{ address }}}, {{{ town }}}, {{{ state }}} {{{ zipCode }}}</span>
                <span class="fieldPhone">{{{ phone }}}</span>
                <span class="fieldEmail">{{{ email }}}</span>
                <span class="fieldSquare">{{{ square }}}</span>
                <span class="fieldDate">{{{ date }}}</span>
            </a>
        </li>
    {{/ each }}
</ul>