<section class="pageHeader">
    <div class="wrapper headerWrapper">
        <div class="contentWrapper">
            <h1 class="pageTitle">Contact us</h1>
            <nav class="breadcrumbs">
                <ul class="breadcrumbList">
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/">BasementRemodeling.com</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink">About us</span>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink breadcrumbActive">Contact us</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<section class="contactUsContent">
    <div class="wrapper blockWrapper">
        <div class="roundBlock">
            <h2 class="sectionTitle">Instant Online Quote</h2>
            <p class="textBlock">Feel free to contact us over the phone or by email. You can also fill out contact us form to request a callback or to ask any questions regarding your upcoming basement remodeling or finishing project.</p>
            <div class="splitBlock">
                <p class="textBlock">Did you know that you can get an idea of the costs for your basement finishing or remodeling project using our Get Online Quote tool below.</p>
                <a href="/instant-quote/" class="instantQuoteButton">GET AN INSTANT QUOTE ONLINE</a>
            </div>
            <div class="officeWrapper">
                <div class="contactsWrapper">
                    <p class="blockHeader">Phone</p>
                    <em class="strongText">
                        <a class="similarLink" href="tel:{{{ phoneMD1 }}}">{{{ phoneMD1 }}}</a>
                    </em>
                    <em class="strongText">
                        <a class="similarLink" href="tel:{{{ phoneVA }}}">{{{ phoneVA }}}</a>
                    </em>
                    <em class="strongText">
                        Toll-free: <a class="similarLink" href="tel:{{{ phoneMain }}}">{{{ phoneMain }}}</a>
                    </em>
                    <p class="blockHeader">E-mail:
                        <a class="textLink" href="mailto:{{{ email }}}">
                            {{{ email }}}
                        </a>
                    </p>
                </div>
                <div class="hoursWrapper">
                    <p class="blockHeader">Hours</p>
                    <em class="strongText">{{{ workDays }}}</em>
                    <em class="strongText">{{{ workTime }}}</em>
                    <em class="strongText disabledText">{{{ closedTime }}}</em>
                </div>
            </div>
        </div>
        <div class="roundBlock">
            {{> forms/contact-us/contact-us.form }}
        </div>
        <div class="roundBlock">
            <h2 class="sectionTitle">Locations</h2>
            {{# each offices }}
                <div class="locationWrapper">
                    <div class="locationDescription">
                        <p class="blockHeader">{{{ officeTitle }}}</p>
                        <em class="strongText">{{{ officeAddress }}}</em>
                    </div>
                    <div class="locationMap" data-lat="{{{ lat }}}"
                         data-lng="{{{ lng }}}" data-zoom="{{{ zoom }}}"></div>
                </div>
            {{/ each }}
        </div>
    </div>
</section>

<script>
    const mapNodes = [...document.querySelectorAll(`.locationMap`)];
    function initMap() {
        mapNodes.forEach((mapNode) => {
            const { dataset: { lat, lng, zoom }} = mapNode;
            const position = { lat: (lat) ? Number(lat) : 38.89511, lng: (lng) ? Number(lng) : -77.03637 };
            const map = new google.maps.Map(mapNode, { zoom: (zoom) ? Number(zoom) : 8, center: position });
            const icon = `/public/images/vector/pin-image.svg`;
            const pinOptions = { map, position, icon };
            new google.maps.Marker(pinOptions);
        });
    }
</script>

<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUZcbipHbHCXwp6PdXIFGhExytbzvh7Tk&callback=initMap"></script>