<section class="pageHeader">
    <div class="wrapper headerWrapper">
        <div class="contentWrapper">
            <h1 class="pageTitle">Contact us</h1>
            <nav class="breadcrumbs">
                <ul class="breadcrumbList">
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/">Basement Remodeling Company</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink">About us</span>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink breadcrumbActive">Contact us</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<section class="contactUsContent">
    <div class="wrapper blockWrapper">
        <div class="roundBlock">
            <h2 class="sectionTitle">Instant Online Quote</h2>
            <p class="textBlock">Feel free to contact us over the phone or by email. You can also fill out contact us form to request a callback or to ask any questions regarding your upcoming basement remodeling or finishing project.</p>
            <div class="splitBlock">
                <p class="textBlock">Did you know that you can get an idea of the costs for your basement finishing or remodeling project using our Get Online Quote tool below.</p>
                <a href="/instant-quote/" class="instantQuoteButton">GET AN INSTANT QUOTE ONLINE</a>
            </div>
            <div class="officeWrapper">
                <div class="contactsWrapper">
                    <p class="blockHeader">Phone</p>
                    <em class="strongText">
                        <a class="similarLink" href="tel:3019458155">301-945-8155</a>
                    </em>
                    <em class="strongText">
                        <a class="similarLink" href="tel:7036915295">703-691-5295</a>
                    </em>
                    <em class="strongText">
                        Toll-free: <a class="similarLink" href="tel:8889395915">888-939-5915</a>
                    </em>
                    <p class="blockHeader">E-mail:
                        <a class="textLink" href="mailto:contact@basementremodeling.com">
                            contact@basementremodeling.com
                        </a>
                    </p>
                </div>
                <div class="hoursWrapper">
                    <p class="blockHeader">Hours</p>
                    <em class="strongText">Monday-Friday,</em>
                    <em class="strongText">8:30 am - 5:00 pm</em>
                    <em class="strongText disabledText">Sat, Sun - closed</em>
                </div>
            </div>
        </div>
        <div class="roundBlock">
            {{> forms/contact-us.form }}
        </div>
        <div class="roundBlock">
            <h2 class="sectionTitle">Locations</h2>
            {{# each locations }}
                <div class="locationWrapper">
                    <div class="locationDescription">
                        <p class="blockHeader">{{{ officeName }}}</p>
                        <em class="strongText">{{{ address }}}</em>
                    </div>
                    <picture class="locationMap">
                        <source srcset="/public/images/{{{ image }}}_260x99.webp,
                                        /public/images/{{{ image }}}_520x198.webp 2x"
                                media="(max-width: 479px)"
                                type="image/webp">
                        <source srcset="/public/images/{{{ image }}}_260x99.png,
                                        /public/images/{{{ image }}}_520x198.png 2x"
                                media="(max-width: 479px)"
                                type="image/jpeg">
                        <source srcset="/public/images/{{{ image }}}_396x99.webp,
                                        /public/images/{{{ image }}}_792x198.webp 2x"
                                media="(max-width: 767px)"
                                type="image/webp">
                        <source srcset="/public/images/{{{ image }}}_396x99.png,
                                        /public/images/{{{ image }}}_792x198.png 2x"
                                media="(max-width: 767px)"
                                type="image/jpeg">
                        <source srcset="/public/images/{{{ image }}}_337x153.webp,
                                        /public/images/{{{ image }}}_674x306.webp 2x"
                                media="(min-width: 768px)"
                                type="image/webp">
                        <source srcset="/public/images/{{{ image }}}_337x153.png,
                                        /public/images/{{{ image }}}_674x306.png 2x"
                                media="(min-width: 768px)"
                                type="image/jpeg">
                        <img class="locationMap"
                             src="/public/images/{{{ image }}}_337x153.png"
                             srcset="/public/images/{{{ image }}}_337x153.png,
                                     /public/images/{{{ image }}}_674x306.png 2x"
                             alt="{{{ officeName }}}">
                    </picture>
                </div>
            {{/ each }}
        </div>
    </div>
</section>