<form class="formNode" action="/admin/landings/edit">

    <input class="hiddenField" type="hidden" name="landingID" value="{{{ page.landingID }}}">

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="pageURL">Page URL</label>
            <input class="textField" type="text" id="pageURL" name="pageURL" value="{{{ page.pageURL }}}">
        </div>
        <div class="buttonWrapper">
            <button class="deleteButton" type="button" data-redirect="/admin/landings/"
                    data-action="/admin/landings/{{{ page.landingID }}}">
                Delete location
            </button>
            <div class="buttonHiddenWrapper hiddenWrapper">
                <div class="wrapperTitle">Are you sure you want to remove this location?</div>
                <div class="wrapperButtons">
                    <button class="cancelButton" type="button">CANCEL</button>
                    <button class="confirmButton" type="button">DELETE</button>
                </div>
            </div>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="pageTitle">Page title</label>
            <input class="textField" type="text" id="pageTitle" name="pageTitle" value="{{{ page.pageTitle }}}">
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="pageDescription">Page description</label>
            <textarea class="textareaField" id="pageDescription" name="pageDescription">{{{ page.pageDescription }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="pageKeywords">Page keywords</label>
            <textarea class="textareaField" id="pageKeywords" name="pageKeywords">{{{ page.pageKeywords }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="headerTitle">Header title</label>
            <input class="textField" type="text" id="headerTitle" name="headerTitle" value="{{{ page.headerTitle }}}">
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="headerText">Header text</label>
            <textarea class="textareaField tinyField" id="headerText" name="headerText">{{{ page.headerText }}}</textarea>
        </div>
    </section>


    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="portfolioTitle">Portfolio title</label>
            <input class="textField" type="text" id="portfolioTitle"
                   name="portfolioTitle" value="{{{ page.portfolioTitle }}}">
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="portfolioText">Portfolio text</label>
            <textarea class="textareaField" id="portfolioText" name="portfolioText">{{{ page.portfolioText }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="youtubeText">Youtube video text</label>
            <textarea class="textareaField" id="youtubeText"  style="height: 120px;"
                      name="youtubeText">{{{ page.youtubeText }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="reviewsText">Reviews button text</label>
            <textarea class="textareaField" id="reviewsText" name="reviewsText">{{{ page.reviewsText }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="reviewsButtonText">Reviews mobile text</label>
            <textarea class="textareaField" id="reviewsButtonText"
                      name="reviewsButtonText">{{{ page.reviewsButtonText }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="reviewsTitle">Reviews title</label>
            <input class="textField" type="text" id="reviewsTitle"
                   name="reviewsTitle" value="{{{ page.reviewsTitle }}}">
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="licensesTitle">Licenses title</label>
            <input class="textField" type="text" id="licensesTitle"
                   name="licensesTitle" value="{{{ page.licensesTitle }}}">
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="licensesText">Licenses text</label>
            <textarea class="textareaField" id="licensesText" style="height: 150px;"
                      name="licensesText">{{{ page.licensesText }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="instagramText">Instagram link text</label>
            <input class="textField" type="text" id="instagramText"
                   name="instagramText" value="{{{ page.instagramText }}}">
        </div>
    </section>

    <section class="fileSection">
        <div class="fileWrapper">
            <input type="file" class="fileField" id="landingImage" name="landingImage">
            <label class="fileLabel" for="landingImage">Landing image</label>
            {{# if page.landingImage }}
                <img class="fieldPreview" src="{{{ page.landingImage }}}_1000x537.jpg" alt="Landing image">
            {{/ if }}
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="footerTitle">Footer title</label>
            <input class="textField" type="text" id="footerTitle" name="footerTitle" value="{{{ page.footerTitle }}}">
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="footerText">Footer text</label>
            <textarea class="textareaField tinyField" id="footerText" name="footerText">{{{ page.footerText }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper" style="width: 40%; margin-right: 10px;">
            <label class="fieldLabel" for="workAddress">Find location by address</label>
            <input class="textField" type="text" id="workAddress" value="">
        </div>
        <div class="fieldWrapper" style="width: 20%; margin-right: 10px;">
            <label class="fieldLabel" for="lat">LAT</label>
            <input class="textField" type="text" id="lat" name="lat" value="{{{ page.lat }}}">
        </div>
        <div class="fieldWrapper" style="width: 20%; margin-right: 10px;">
            <label class="fieldLabel" for="lng">LNG</label>
            <input class="textField" type="text" id="lng" name="lng" value="{{{ page.lng }}}">
        </div>
        <div class="fieldWrapper" style="width: 20%">
            <label class="fieldLabel" for="zoom">Zoom</label>
            <input class="textField" type="text" id="zoom" name="zoom" value="{{{ page.zoom }}}">
        </div>
    </section>

    <section class="mapSection">
        <div class="mapPlaceholder"></div>
        <script>
            const mapNode = document.querySelector(`.mapPlaceholder`);
            const addressField = document.querySelector(`#workAddress`);
            const latField = document.querySelector(`#lat`);
            const lngField = document.querySelector(`#lng`);
            const zoomField = document.querySelector(`#zoom`);
            const markers = [];
            const setZoom = (map) => {
                return () => {
                    zoomField.value = map.getZoom();
                };
            };
            const setCenter = (map) => {
                return () => {
                    latField.value = map.getCenter().lat();
                    lngField.value = map.getCenter().lng();
                }
            };
            function initMap() {
                const lat = Number(latField.value) || 38.89511;
                const lng = Number(lngField.value) || -77.03637;
                const zoom = Number(zoomField.value) || 8;
                const coors = { lat, lng };
                const map = new google.maps.Map(mapNode, { zoom, center: coors });
                setZoom(map)();
                setCenter(map)();
                map.addListener(`zoom_changed`, setZoom(map));
                map.addListener(`center_changed`, setCenter(map));
                const geocoder = new google.maps.Geocoder();
                const callback = (results, status) => {
                    if (!status || !results.length) return false;
                    latField.value = results[0].geometry.location.lat();
                    lngField.value = results[0].geometry.location.lng();
                    const position = results[0].geometry.location;
                    map.setCenter(position);
                    map.setZoom(13);
                };
                const geocodeAddress = (geocoder) => {
                    if (!addressField.value) return false;
                    geocoder.geocode({ address: addressField.value }, callback);
                };
                addressField.addEventListener(`change`, () => {
                    geocodeAddress(geocoder, map);
                });
                addressField.addEventListener(`input`, () => {
                    geocodeAddress(geocoder, map);
                });
            }
        </script>
    </section>

    <div class="formButtons">
        {{> micro-blocks/upload-button/upload-button }}
        <button class="submitButton" type="button" title="Update"
                data-action="update" data-api="">Update</button>
    </div>

</form>

<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUZcbipHbHCXwp6PdXIFGhExytbzvh7Tk&callback=initMap"></script>