<form class="formNode" action="/admin/landings/home">

    <input class="hiddenField" type="hidden" name="pageID" value="{{{ page.pageID }}}">

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="pageTitle">Page title</label>
            <input class="textField" type="text" id="pageTitle" name="pageTitle" value="{{{ page.pageTitle }}}">
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="pageDescription">Page description</label>
            <textarea class="textareaField" id="pageDescription" name="pageDescription">{{{ page.pageDescription }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="pageKeywords">Page keywords</label>
            <textarea class="textareaField" id="pageKeywords" name="pageKeywords">{{{ page.pageKeywords }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content1">Header title</label>
            <input class="textField" type="text" id="content1" name="content1" value="{{{ content.content1 }}}">
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content2">Header text</label>
            <textarea class="textareaField" id="content2" name="content2">{{{ content.content2 }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content3">Portfolio title</label>
            <input class="textField" type="text" id="content3" name="content3" value="{{{ content.content3 }}}">
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content4">Portfolio text</label>
            <textarea class="textareaField" id="content4" name="content4">{{{ content.content4 }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content5">News title</label>
            <input class="textField" type="text" id="content5" name="content5" value="{{{ content.content5 }}}">
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content32">News date</label>
            <input class="textField" type="text" id="content32" name="content32" value="{{{ content.content32 }}}">
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content33">News text</label>
            <textarea class="textareaField" style="height: 120px;"
                      id="content33" name="content33">{{{ content.content33 }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content6">Youtube video text</label>
            <textarea class="textareaField" style="height: 120px;"
                      id="content6" name="content6">{{{ content.content6 }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content7">Reviews link text</label>
            <textarea class="textareaField" id="content7" name="content7">{{{ content.content7 }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content8">Reviews title</label>
            <input class="textField" type="text" id="content8" name="content8" value="{{{ content.content8 }}}">
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content9">Reviews text</label>
            <textarea class="textareaField" id="content9" name="content9">{{{ content.content9 }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content10">Awards title</label>
            <input class="textField" type="text" id="content10" name="content10" value="{{{ content.content10 }}}">
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content11">Awards text</label>
            <textarea class="textareaField" id="content11" name="content11">{{{ content.content11 }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content12">Instagram link text</label>
            <input class="textField" type="text" id="content12" name="content12" value="{{{ content.content12 }}}">
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content13">Basement ideas title</label>
            <input class="textField" type="text" id="content13" name="content13" value="{{{ content.content13 }}}">
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content14">Basement ideas text</label>
            <textarea class="textareaField" id="content14" name="content14">{{{ content.content14 }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content15">Price title</label>
            <input class="textField" type="text" id="content15" name="content15" value="{{{ content.content15 }}}">
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content16">Price text</label>
            <textarea class="textareaField" id="content16" name="content16">{{{ content.content16 }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content17">Project timeline title</label>
            <input class="textField" type="text" id="content17" name="content17" value="{{{ content.content17 }}}">
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content18">Project timeline text</label>
            <textarea class="textareaField" id="content18" style="height: 130px;"
                      name="content18">{{{ content.content18 }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content19">Map title</label>
            <input class="textField" type="text" id="content19" name="content19" value="{{{ content.content19 }}}">
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content20">Map text</label>
            <textarea class="textareaField" id="content20" name="content20">{{{ content.content20 }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content21">Service area title</label>
            <input class="textField" type="text" id="content21" name="content21" value="{{{ content.content21 }}}">
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content22">Service area text</label>
            <textarea class="textareaField" id="content22" name="content22">{{{ content.content22 }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content23">FAQ title</label>
            <input class="textField" type="text" id="content23" name="content23" value="{{{ content.content23 }}}">
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content24">FAQ text</label>
            <textarea class="textareaField" id="content24" name="content24">{{{ content.content24 }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content25">Financing title</label>
            <input class="textField" type="text" id="content25" name="content25" value="{{{ content.content25 }}}">
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content26">Financing text</label>
            <textarea class="textareaField" id="content26" style="height: 140px;"
                      name="content26">{{{ content.content26 }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content27">Licenses title</label>
            <input class="textField" type="text" id="content27" name="content27" value="{{{ content.content27 }}}">
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content28">Licenses text</label>
            <textarea class="textareaField" id="content28" style="height: 160px;"
                      name="content28">{{{ content.content28 }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="content29">Basement tips title</label>
            <input class="textField" type="text" id="content29" name="content29" value="{{{ content.content29 }}}">
        </div>
    </section>

    <div class="formButtons">
        <button class="submitButton" type="button" title="Update"
                data-action="update" data-api="">Update</button>
    </div>

</form>