<section class="pageHeader mainCategories">
    <h1 class="headerPicture">Explore our basement ideas by</h1>
    <div class="wrapper headerWrapper">
        <div class="contentWrapper">
            <nav class="headerCategories">
                <ul class="categoryList">
                    <li class="categoryWrapper">
                        <a class="categoryLink"
                           href="/basement-ideas/spaces/">
                            <img class="categoryImage"
                                 src="/public/images/categories/cat-1_209x209.jpg"
                                 alt="Spaces">
                            Spaces
                        </a>
                    </li>
                    <li class="categoryWrapper">
                        <a class="categoryLink"
                           href="/basement-ideas/features/">
                            <img class="categoryImage"
                                 src="/public/images/categories/cat-2_209x209.jpg"
                                 alt="Features">
                            Features
                        </a>
                    </li>
                    <li class="categoryWrapper">
                        <a class="categoryLink"
                           href="/basement-ideas/engineering-features/">
                            <img class="categoryImage"
                                 src="/public/images/categories/cat-3_209x209.jpg"
                                 alt="Engineering Features">
                            Engineering Features
                        </a>
                    </li>
                </ul>
            </nav>
            <nav class="breadcrumbs">
                <ul class="breadcrumbList">
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/">Basement Remodeling Company</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink breadcrumbActive">Basement ideas</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<section class="filtersWrapper">
    <div class="wrapper headerWrapper">
        {{> micro-blocks/filters/ideas.filters }}
    </div>
</section>

<section class="chosenFiltersWrapper ideasActiveFilters">
    <div class="wrapper headerWrapper emptyChosenFilters">
        <form class="filtersForm" action="/api/ideas/filter">
            <ul class="activeFilterList"></ul>
        </form>
    </div>
</section>

<section class="ideasMain">
    <div class="wrapper listWrapper">
        <button class="ideasSortWrapper">WHAT’S NEW</button>
        <ul class="ideaList">
            {{# each ideas }}
                <li class="ideaWrapper">
                    <picture>
                        <source srcset="/public/images/temp/{{{ image }}}.webp,
                                        /public/images/temp/{{{ image }}}@2x.webp 2x"
                                type="image/webp">
                        <img class="ideaPhoto"
                             data-idea="{{{ id }}}"
                             src="/public/images/temp/{{{ image }}}.jpg"
                             srcset="/public/images/temp/{{{ image }}}.jpg,
                                     /public/images/temp/{{{ image }}}@2x.jpg 2x"
                             alt="{{{ title }}}">
                    </picture>
                    <button class="saveIdea">SAVE TO COLLECTION</button>
                    <h3 class="ideaTitle">{{{ title }}}</h3>
                    <strong class="ideaAuthor">{{{ author }}}</strong>
                </li>
            {{/each}}
        </ul>
        <button class="showMoreButton">SHOW MORE</button>
    </div>
</section>

<section class="ideasFooter">
    <div class="wrapper headerWrapper">
        <h2>Basement Remodeling Ideas</h2>
        <p>For the ultimate in entertainment, consider installing a premium home theater! With authentic movie seats, theater-style carpet, walls, and a recessed ceiling to hold your deluxe sound system, you and your family will feel like you are out for a night on the town.</p>
        <p>Like pocket doors, interior sliding barn doors are a rustic alternative to the traditional swinging door format. Interior barn style doors are made of virtually any material you can think of, from iron to steel, but most prefer the timeless look of a weathered set of double barn doors. Barn doors make great focal points by framing the beautiful room behind them on both sides, lending geometrical symmetry to the overall floorplan.</p>
        <p>Or, perhaps you would like to convey a more family-oriented design with soft lighting, modern furniture and casual artwork? Either way, our design experts can make all of your home theater basement ideas come true! Plus, you’ll always have the best seat!</p>
    </div>
</section>