<section class="pageHeader mainCategories">
    <h1 class="headerPicture">Explore our basement ideas by</h1>
    <div class="wrapper headerWrapper">
        <div class="contentWrapper">
            <nav class="headerCategories">
                <ul class="categoryList">
                    {{# each categories }}
                        <li class="categoryWrapper">
                            <a class="categoryLink"
                               href="/basement-ideas/{{{ categoryLink }}}/">
                                <picture>
                                    <source srcset="{{{ categoryImage }}}_79x79.jpg,
                                                {{{ categoryImage }}}_158x158.jpg 2x"
                                            media="(max-width: 479px)">
                                    <source srcset="{{{ categoryImage }}}_137x137.jpg,
                                                {{{ categoryImage }}}_274x274.jpg 2x"
                                            media="(max-width: 767px)">
                                    <source srcset="{{{ categoryImage }}}_209x209.jpg,
                                                {{{ categoryImage }}}_418x418.jpg 2x"
                                            media="(min-width: 768px)">
                                    <img class="categoryImage"
                                         src="{{{ categoryImage }}}_209x209.jpg"
                                         srcset="{{{ categoryImage }}}_209x209.jpg,
                                             {{{ categoryImage }}}_418x418.jpg 2x"
                                         alt="{{{ title }}}">
                                </picture>
                                {{{ categoryTitle }}}
                            </a>
                        </li>
                    {{/ each }}
                </ul>
            </nav>
            <nav class="breadcrumbs">
                <ul class="breadcrumbList">
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/">BasementRemodeling.com</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink breadcrumbActive">Basement ideas</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<section class="filtersWrapper">
    <div class="wrapper headerWrapper">
        {{> micro-blocks/filters/ideas.filters }}
    </div>
</section>

<section class="chosenFiltersWrapper ideasActiveFilters">
    <div class="wrapper headerWrapper emptyChosenFilters">
        <form class="filtersForm" action="/api/ideas/filter">
            <ul class="activeFilterList"></ul>
            <input type="hidden" class="hiddenField orderField" name="order" value="ideaID">
        </form>
    </div>
</section>

<section class="ideasMain">
    <div class="wrapper listWrapper">
        <button class="ideasSortWrapper" data-order="ideaID">WHAT’S NEW</button>
        <ul class="ideaList elementsWrapper" data-page="12" data-api="/api/ideas/all" data-login="{{{ isLogin }}}">
            {{# each ideas }}
                {{> micro-blocks/idea/idea }}
            {{/ each }}
        </ul>
        <button title="Show more" data-scroll="1"
                class="showMoreButton {{# if ideasData.hiddenButton }}hiddenButton{{/ if }}">SHOW MORE</button>
    </div>
    <div class="pageLoader hiddenLoader"></div>
</section>

<section class="ideasFooter">
    <div class="wrapper headerWrapper">
        <h2>{{{ content.content31 }}}</h2>
        <div class="contentWrapper">{{{ content.content30 }}}</div>
    </div>
</section>

<template class="elementTemplate">
    <li class="ideaWrapper">
        <div class="imageWrapper"></div>
        <button class="saveIdea" data-idea="">SAVE TO COLLECTION</button>
        <h3 class="ideaTitle"></h3>
        <strong class="ideaAuthor"></strong>
    </li>
</template>