<form class="formNode zipZone" action="/admin/settings/edit">
    <input class="hiddenField" type="hidden" name="settingID" value="1">
    <section class="fieldSection">
        <div class="fieldWrapper" style="margin-right: 10px;">
            <label class="fieldLabel" for="phoneMain">Main phone</label>
            <input class="textField" type="text" id="phoneMain"
                   name="phoneMain" value="{{{ phoneMain }}}">
        </div>
        <div class="fieldWrapper" style="margin-right: 10px;">
            <label class="fieldLabel" for="phoneMD1">MD #1</label>
            <input class="textField" type="text" id="phoneMD1"
                   name="phoneMD1" value="{{{ phoneMD1 }}}">
        </div>
        <div class="fieldWrapper" style="margin-right: 10px;">
            <label class="fieldLabel" for="phoneMD2">MD #2</label>
            <input class="textField" type="text" id="phoneMD2"
                   name="phoneMD2" value="{{{ phoneMD2 }}}">
        </div>
        <div class="fieldWrapper" style="margin-right: 10px;">
            <label class="fieldLabel" for="phoneVA">VA</label>
            <input class="textField" type="text" id="phoneVA"
                   name="phoneVA" value="{{{ phoneVA }}}">
        </div>
        <div class="fieldWrapper">
            <label class="fieldLabel" for="phoneDC">DC</label>
            <input class="textField" type="text" id="phoneDC"
                   name="phoneDC" value="{{{ phoneDC }}}">
        </div>
    </section>
    <section class="fieldSection">
        <div class="fieldWrapper" style="margin-right: 10px;">
            <label class="fieldLabel" for="address">Address</label>
            <input class="textField" type="text" id="address" name="address" value="{{{ address }}}">
        </div>
        <div class="fieldWrapper">
            <label class="fieldLabel" for="email">Site email</label>
            <input class="textField" type="text" id="email"
                   name="email" value="{{{ email }}}">
        </div>
    </section>
    <section class="fieldSection">
        <div class="fieldWrapper" style="margin-right: 10px;">
            <label class="fieldLabel" for="workDays">Work days</label>
            <input class="textField" type="text" id="workDays"
                   name="workDays" value="{{{ workDays }}}">
        </div>
        <div class="fieldWrapper" style="margin-right: 10px;">
            <label class="fieldLabel" for="workTime">Work time</label>
            <input class="textField" type="text" id="workTime"
                   name="workTime" value="{{{ workTime }}}">
        </div>
        <div class="fieldWrapper">
            <label class="fieldLabel" for="closedTime">Closed days</label>
            <input class="textField" type="text" id="closedTime"
                   name="closedTime" value="{{{ closedTime }}}">
        </div>
    </section>
    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="linkInstagram">Instagram link</label>
            <input class="textField" type="text" id="linkInstagram"
                   name="linkInstagram" value="{{{ linkInstagram }}}">
        </div>
    </section>
    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="linkFacebook">Facebook link</label>
            <input class="textField" type="text" id="linkFacebook"
                   name="linkFacebook" value="{{{ linkFacebook }}}">
        </div>
    </section>
    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="linkPinterest">Pinterest link</label>
            <input class="textField" type="text" id="linkPinterest"
                   name="linkPinterest" value="{{{ linkPinterest }}}">
        </div>
    </section>
    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="copyrightText">Copyright text</label>
            <textarea class="textareaField" id="copyrightText"
                      name="copyrightText">{{{ copyrightText }}}</textarea>
        </div>
    </section>
    <p class="listTitle">Testimonials links:</p>
    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="facebookLink">Facebook link</label>
            <input class="textField" type="text" id="facebookLink"
                   name="facebookLink" value="{{{ facebookLink }}}">
        </div>
    </section>
    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="houzzLink">Houzz link</label>
            <input class="textField" type="text" id="houzzLink"
                   name="houzzLink" value="{{{ houzzLink }}}">
        </div>
    </section>
    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="angiesListLink">Angies list link</label>
            <input class="textField" type="text" id="angiesListLink"
                   name="angiesListLink" value="{{{ angiesListLink }}}">
        </div>
    </section>
    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="porchLink">Porch link</label>
            <input class="textField" type="text" id="porchLink"
                   name="porchLink" value="{{{ porchLink }}}">
        </div>
    </section>
    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="googleLink">Google link</label>
            <input class="textField" type="text" id="googleLink"
                   name="googleLink" value="{{{ googleLink }}}">
        </div>
    </section>
    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="homeAdvisorLink">Home advisor link</label>
            <input class="textField" type="text" id="homeAdvisorLink"
                   name="homeAdvisorLink" value="{{{ homeAdvisorLink }}}">
        </div>
    </section>
    <div class="formButtons">
        <button class="submitButton" type="button" title="Update"
                data-action="update" data-api="">Update</button>
    </div>

    <p class="listTitle">Form emails setting:</p>
    <section class="fieldSection">
        <div class="fieldWrapper" style="width: 25%; margin-right: 10px;">
            <label class="fieldLabel" for="mailHost">Host</label>
            <input class="textField" type="text" id="mailHost"
                   name="mailHost" value="smtp.yandex.ru">
        </div>
        <div class="fieldWrapper" style="width: 10%; margin-right: 10px;">
            <label class="fieldLabel" for="mailPort">Port</label>
            <input class="textField" type="text" id="mailPort"
                   name="mailPort" value="465">
        </div>
        <div class="fieldWrapper" style="width: 10%; margin-right: 10px;">
            <label class="fieldLabel" for="mailSecure">Secure</label>
            <input class="textField" type="text" id="mailSecure"
                   name="mailSecure" value="true">
        </div>
        <div class="fieldWrapper" style="width: 25%; margin-right: 10px;">
            <label class="fieldLabel" for="authUser">Auth user</label>
            <input class="textField" type="text" id="authUser"
                   name="authUser" value="sales@artegallery.ru">
        </div>
        <div class="fieldWrapper" style="width: 25%">
            <label class="fieldLabel" for="authPassword">Auth password</label>
            <input class="textField" type="text" id="authPassword"
                   name="authPassword" value="arte2020sales">
        </div>
    </section>
    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="emailFrom">Email from</label>
            <input class="textField" type="text" id="emailFrom"
                   name="emailFrom" value="BasementRemodeling.com sales@artegallery.ru">
        </div>
    </section>
    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="emailSubject">Email subject</label>
            <input class="textField" type="text" id="emailSubject"
                   name="emailSubject" value="Thank you for submitting your request">
        </div>
    </section>
    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="sendEmail">Admin mail</label>
            <input class="textField" type="text" id="sendEmail"
                   name="sendEmail" value="andevme@gmail.com">
        </div>
    </section>
    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="adminSubject">Admin subject</label>
            <input class="textField" type="text" id="adminSubject"
                   name="adminSubject" value="New request from site">
        </div>
    </section>

</form>