<form class="formNode" action="/admin/about-us/testimonials/edit">

    <input class="hiddenField" type="hidden" name="testimonialID" value="{{{ page.testimonialID }}}">

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="pageTitle">Page title</label>
            <input class="textField" type="text" id="pageTitle"
                   name="pageTitle" value="{{{ page.pageTitle }}}">
        </div>
        <div class="buttonWrapper">
            <button class="deleteButton" type="button" data-redirect="/admin/about-us/testimonials/"
                    data-action="/admin/about-us/testimonials/{{{ page.testimonialID }}}">
                Delete testimonial
            </button>
            <div class="buttonHiddenWrapper hiddenWrapper">
                <div class="wrapperTitle">Are you sure you want to remove this testimonial?</div>
                <div class="wrapperButtons">
                    <button class="cancelButton" type="button">CANCEL</button>
                    <button class="confirmButton" type="button">DELETE</button>
                </div>
            </div>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="pageDescription">Page description</label>
            <textarea class="textareaField" id="pageDescription"
                      name="pageDescription">{{{ page.pageDescription }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="pageKeywords">Page keywords</label>
            <textarea class="textareaField" id="pageKeywords"
                      name="pageKeywords">{{{ page.pageKeywords }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="testimonialLink">Testimonial link</label>
            <input class="textField" type="text" id="testimonialLink"
                   name="testimonialLink" value="{{{ page.testimonialLink }}}">
        </div>
    </section>

    <section class="fileSection">
        <div class="fileWrapper" style="width: 330px; height: 173px;">
            <input type="file" class="fileField" id="testimonialImage" name="testimonialImage">
            <label class="fileLabel" for="testimonialImage">Testimonial cover</label>
            {{# if page.testimonialImage }}
                <img class="fieldPreview" src="{{{ page.testimonialImage }}}_330x173.jpg" alt="Testimonial image">
            {{/ if }}
        </div>
    </section>

    <section class="ratingSection">
        <span class="ratingTitle">Rating</span>
        <div class="starsWrapper">
            <div class="starsLine"></div>
            <div class="stars" data-rating="{{{ page.testimonialRating }}}"></div>
        </div>
        <input class="hiddenField" type="hidden" name="testimonialRating" value="{{{ page.testimonialRating }}}">
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="testimonialAuthor">Testimonial author</label>
            <input class="textField" type="text" id="testimonialAuthor"
                   name="testimonialAuthor" value="{{{ page.testimonialAuthor }}}">
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="testimonialState">Testimonial state</label>
            <input class="textField" type="text" id="testimonialState"
                   name="testimonialState" value="{{{ page.testimonialState }}}">
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="testimonialAnnounce">Testimonial announce</label>
            <textarea class="textareaField" id="testimonialAnnounce"
                      name="testimonialAnnounce">{{{ page.testimonialAnnounce }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="testimonialText">Testimonial text</label>
            <textarea class="textareaField tinyField" id="testimonialText"
                      name="testimonialText">{{{ page.testimonialText }}}</textarea>
        </div>
    </section>

    <section class="fieldSection">
        <div class="fieldWrapper">
            <label class="fieldLabel" for="portfolioID">Portfolio ID</label>
            <input class="textField" type="text" id="portfolioID"
                   name="portfolioID" value="{{{ page.portfolioID }}}">
        </div>
    </section>

    <div class="formButtons">
        {{> micro-blocks/upload-button/upload-button }}
        <button class="submitButton" type="button" title="Update"
                data-action="update" data-api="">Update</button>
    </div>

</form>