<section class="pageHeader">
    <div class="wrapper mainWrapper">
        <div class="contentWrapper">
            <h1 class="pageTitle">Testimonials</h1>
            <nav class="breadcrumbs">
                <ul class="breadcrumbList">
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/">BasementRemodeling.com</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink">About us</span>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/about-us/testimonials/">Testimonials</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink breadcrumbActive">
                            {{{ page.testimonialAuthor }}}'s Review
                        </span>
                    </li>
                </ul>
            </nav>
            {{> micro-blocks/social-links/social-links }}
        </div>
    </div>
</section>

<section class="pageContent">
    <div class="wrapper center">
        <div class="twoColumnsWrapper">
            <span class="dataDate">{{{ page.testimonialDate }}}</span>
            <span class="dataState">{{{ page.testimonialState }}}</span>
        </div>
        <div class="twoColumnsWrapper pageTitleWrapper">
            <h1 class="sectionTitle">{{{ page.testimonialAuthor }}}'s Review:</h1>
            <div class="stars" data-rating="{{{ page.testimonialRating }}}">
                Stars: {{{ page.testimonialRating }}}
            </div>
        </div>
        <div class="contentTextarea">
            {{{ page.testimonialText }}}
        </div>
    </div>
</section>

<section class="pageButtons">
    <div class="wrapper center">
        <div class="twoColumnsWrapper">
            <a class="backButton" href="/about-us/testimonials/">GO BACK</a>
            {{# if isAdmin }}
                <a class="adminEditButton rightPosition" target="_blank"
                   href="/admin/about-us/testimonials/edit/{{{ page.testimonialID }}}">EDIT ENTRY</a>
            {{/ if }}
            {{# if page.workLink }}
                <a class="sourceButton" href="/portfolio/{{{ page.workLink }}}">VIEW PROJECT</a>
            {{/ if }}
        </div>
    </div>
</section>