<section class="pageHeader">
    <div class="wrapper mainWrapper">
        <div class="contentWrapper">
            <h1 class="pageTitle">Testimonials</h1>
            <nav class="breadcrumbs">
                <ul class="breadcrumbList">
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/">Basement Remodeling Company</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink">About us</span>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/about-us/testimonials/">Testimonials</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink breadcrumbActive">{{{ name }}}'s Review</span>
                    </li>
                </ul>
            </nav>
            {{> micro-blocks/social-links/social-links }}
        </div>
    </div>
</section>

<section class="pageContent">
    <div class="wrapper center">
        <div class="twoColumnsWrapper">
            <span class="dataDate">{{{ date }}}</span>
            <span class="dataState">{{{ state }}}</span>
        </div>
        <div class="twoColumnsWrapper pageTitleWrapper">
            <h1 class="sectionTitle">{{{ name }}}'s Review:</h1>
            <div class="stars" data-rating="{{{ rating }}}">Stars: {{{ rating }}}</div>
        </div>
        <p class="textBlock">I found Basement Masters on Angie’s List and, because of the outstanding reviews, decided to get a quote from them in addition to another local company who I’ve had experience with in the past. From the first meeting with Pavel, I was extremely impressed with the efficiency and transparency of how he runs his business. He is extremely organized and makes the most of technology via his iPad and various software applications. He sat down with me and, because I knew what I wanted for my finished product, we were able to go through his detailed brochure and develop a proposed initial cost at that very first meeting. As others have stated, you know exactly what each component of your estimate costs and you can choose from various options to make the overall total fit your budget. In addition, if you want to be more hands on and purchase some items (i.e., faucets, vanity, bathroom towel bars, etc.) yourself, Pavel provides an allowance for those items. Not only did this assure I got exactly what I wanted, I was able to save some money by finding things cheaper than the allowance provided by shopping online and/or finding items on sale locally. Once Pavel’s team began working, I realized that Pavel’s superior customer service and work ethic doesn't stop with him. His entire team and the subcontractors he uses share his values. They were on time, communicative and did outstanding work.</p>
        <p class="textBlock">Everything was done to code. It is so rare to find this consistent level of caring customer service today. He even provided an interior designer to meet with us to discuss colors and finishes. After selecting paint colors, she got samples and applied them to the walls for us to see in different lights. This was a real asset because what we thought we wanted was not what we finally selected. When we ran into unforeseen issues during the project (which is to be expected), Pavel and/or his team always consulted with me and provided options. I had the final say in how the issue was resolved. I was also amazed at the long hours they kept. It wasn’t unusual to see emails from Pavel sent at 12:30 a.m. Also, there were several days when his folks were there for 10-12 hours as well as weekends. This was always done with my advance permission. Not only did they come in on budget and provide a stellar finished project, they completed it one week early.</p>
        <p class="textBlock">Bottom line, we love our new basement and I would very highly recommend Basement Masters. My only regret is that I only have one basement or I’d definitely use them again myself!</p>
    </div>
</section>

<section class="pageButtons">
    <div class="wrapper center">
        <div class="twoColumnsWrapper">
            <button class="backButton">GO BACK</button>
            <button class="sourceButton">VIEW PROJECT</button>
        </div>
    </div>
</section>