<section class="pageHeader">
    <div class="wrapper headerWrapper">
        <div class="contentWrapper">
            <h1 class="pageTitle">Portfolio</h1>
            <nav class="breadcrumbs">
                <ul class="breadcrumbList">
                    <li class="breadcrumbLinkWrapper">
                        <a class="breadcrumbLink" href="/">Basement Remodeling Company</a>
                    </li>
                    <li class="breadcrumbLinkWrapper">
                        <span class="breadcrumbLink breadcrumbActive">Portfolio</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<section class="filtersWrapper">
    <div class="wrapper headerWrapper">
        {{> micro-blocks/filters/portfolio.filters }}
    </div>
</section>

<section class="chosenFiltersWrapper portfolioActiveFilters">
    <div class="wrapper headerWrapper emptyChosenFilters">
        <form class="filtersForm" action="/api/portfolio/filter">
            <ul class="activeFilterList"></ul>
        </form>
    </div>
</section>

<section class="portfolioMap">
    <div class="mapPicture">
        <a class="mapButton" href="/portfolio/map/">PROJECTS ON THE MAP</a>
    </div>
</section>

<section class="portfolioContent">
    <div class="wrapper listWrapper">
        <ul class="portfolioList">
            {{# each portfolio }}
                <li class="portfolioWrapper">
                    <img class="portfolioImage"
                         src="/public/images/temp/portfolio/{{{ image }}}_252x252.jpg"
                         alt="{{{ title }}}">
                    <div class="portfolioHiddenBlock">
                        <strong class="portfolioHeader">{{{ work }}}</strong>
                        <span class="portfolioCity">{{{ city }}}</span>
                        <span class="portfolioSquare">{{{ square }}}</span>
                        <a class="portfolioButton" href="/portfolio/{{{ id }}}">VIEW PROJECT</a>
                    </div>
                </li>
            {{/each}}
        </ul>
        <button class="showMoreButton" title="Show more" type="button">SHOW MORE</button>
    </div>
</section>