<div class="categoriesCarousel">
    <button class="sliderArrow previousSlide hiddenArrow">Previous</button>
    <nav class="headerMiddleCategories">
        <div class="categoriesActionWrapper">
            <ul class="categoryList">
                {{# each subCategories }}
                    <li class="categoryWrapper">
                        <a class="categoryLink" href="{{{ categoryLink }}}">
                            {{# if categoryImage }}
                                <picture>
                                    <source srcset="{{{ categoryImage }}}_54x54.jpg,
                                                {{{ categoryImage }}}_108x108.jpg 2x"
                                            media="(max-width: 479px)">
                                    <source srcset="{{{ categoryImage }}}_79x79.jpg,
                                                {{{ categoryImage }}}_158x158.jpg 2x"
                                            media="(min-width: 480px)">
                                    <img class="categoryImage"
                                         src="{{{ categoryImage }}}_79x79.jpg"
                                         srcset="{{{ categoryImage }}}_79x79.jpg,
                                             {{{ categoryImage }}}_158x158.jpg 2x"
                                         alt="{{{ title }}}">
                                </picture>
                            {{ else }}
                                <div class="categoryImage coverImage"></div>
                            {{/ if }}
                            <span class="categoryLabel">{{{ categoryTitle }}}</span>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </nav>
    <button class="sliderArrow nextSlide">Next</button>
</div>